* {
    -webkit-box-sizing: border-box;
}

body {
    background-color: white;
    font-family: Lucida Grande, sans-serif;
    -webkit-user-select: none;
}

#entry {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 150px;
    padding: 5px;
    overflow: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    -webkit-user-modify: read-write-plaintext-only;
    -webkit-user-select: text;
    font-family: Menlo, monospace;
    font-size: 11px;
}

body.platform-mac-tiger #entry, body.platform-mac-leopard #entry {
	font-family: Monaco, monospace;
	font-size: 10px;
}

body.platform-windows #entry {
	font-family: "Courier New", monospace;
	font-size: 13px;
}

#divider {
    position: absolute;
    top: 150px;
    left: 0;
    right: 0;
    height: 10px;
    background-color: rgb(167, 167, 167);
    background-image: url(Images/splitterDimple.png), url(Images/splitterBar.png);
    background-repeat: no-repeat, repeat-x;
    background-position: 50%, 0;
    cursor: row-resize;
}

body.inactive #divider, body.platform-mac-tiger #divider {
    background-image: url(Images/splitterDimpleInactive.png), url(Images/splitterBarInactive.png);
}

#preview-container {
    position: absolute;
    top: 160px;
    bottom: 24px;
    left: 0;
    right: 0;
}

#preview {
    width: 100%;
    height: 100%;
    border: 0 none transparent;
}

#button-bar {
    position: absolute;
    height: 24px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(167, 167, 167);
    background-image: url(Images/buttonBarBackground.png);
    background-repeat: repeat-x;
    padding: 1px 6px;
}

body.inactive #button-bar, body.platform-mac-tiger #button-bar {
    background-color: rgb(214, 214, 214);
    background-image: url(Images/buttonBarBackgroundInactive.png);
}

#button-bar button, #button-bar button:disabled:active {
    margin: 0;
    border-width: 0 3px 0 3px;
    border-color: transparent;
    background-color: transparent;
    height: 19px;
    font-size: 11px;
    line-height: 1em;
    -webkit-border-image: url(Images/toolbarButton.png) 0 3 0 3;
    -webkit-box-sizing: border-box;
    vertical-align: middle;
    text-shadow: rgba(255, 255, 255, 0.75) 0 1px 1px;
    vertical-align: baseline;
}

body.platform-mac-tiger #button-bar button, body.platform-mac-tiger #button-bar button:disabled:active {
    padding: 0;
    margin-top: 1px;
    height: 18px;
    border-width: 0 10px 0 10px;
    -webkit-border-image: url(Images/toolbarButton~tiger.png) 0 10 0 10;
    text-shadow: rgba(255, 255, 255, 0.75) 0 1px 1px;
}

#button-bar button:focus {
    outline: none;
}

body.platform-mac-tiger #button-bar button:active, body.platform-mac-tiger #button-bar button.selected {
    -webkit-border-image: url(Images/toolbarButtonPressed~tiger.png) 0 10 0 10;
}

body:not(.platform-mac-tiger) #button-bar button:active, body:not(.platform-mac-tiger) #button-bar button.selected {
    -webkit-border-image: url(Images/toolbarButtonPressed.png) 0 3 0 3;
}

body.inactive:not(.platform-mac-tiger) #button-bar button:active, body.inactive:not(.platform-mac-tiger) #button-bar button.selected {
    -webkit-border-image: url(Images/toolbarButtonPressed.png) 0 3 0 3;
}

body.inactive:not(.platform-mac-tiger) #button-bar button, body.inactive:not(.platform-mac-tiger) #button-bar button:disabled:active {
    -webkit-border-image: url(Images/toolbarButtonInactive.png) 0 3 0 3;
}

#auto-update-label {
    margin-left: 10px;
    font-size: 11px;
    text-shadow: rgba(255, 255, 255, 0.75) 0 1px 1px;
    vertical-align: baseline;
}

#auto-update-checkbox {
    margin: 0 4px 0 0;
}
