<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Mappings</key>
	<array>
		<dict>
			<key>ABProperty</key>
			<string>First</string>
			<key>FieldLabels</key>
			<array>
				<string>Vorname</string>
			</array>
		</dict>
		<dict>
			<key>ABProperty</key>
			<string>Middle</string>
			<key>FieldLabels</key>
			<array>
				<string>Mittelname</string>
				<string>Initialen</string>
			</array>
		</dict>
		<dict>
			<key>ABProperty</key>
			<string>Last</string>
			<key>FieldLabels</key>
			<array>
				<string>Nachname</string>
				<string>Familienname</string>
			</array>
		</dict>
		<dict>
			<key>ProxyABProperty</key>
			<string>FullNameComposite</string>
			<key>ABComputedProperty</key>
			<string>_realCompositeName</string>
			<key>ABProperty</key>
			<array>
				<string>First</string>
				<string>Middle</string>
				<string>Last</string>
				<string>Suffix</string>
			</array>
			<key>FieldLabels</key>
			<array>
				<string>Vollständiger Name</string>
				<string>Voller Name</string>
			</array>
		</dict>
		<dict>
			<key>ProxyABProperty</key>
			<string>FullNameComposite</string>
			<key>ABComputedProperty</key>
			<string>_realCompositeName</string>
			<key>ABProperty</key>
			<array>
				<string>First</string>
				<string>Middle</string>
				<string>Last</string>
				<string>Suffix</string>
			</array>
			<key>FieldLabels</key>
			<array>

				<string>Name</string>
			</array>
			<key>ProxyABProperty</key>
			<string>FullNameComposite</string>
			<key>SearchPass</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>ABProperty</key>
			<string>Birthday</string>
			<key>FieldLabels</key>
			<array>
				<string>Geburtstag</string>
				<string>Geburtsdatum</string>
			</array>
		</dict>
		<dict>
			<key>ABProperty</key>
			<string>JobTitle</string>
			<key>FieldLabels</key>
			<array>
				<string>Beruf</string>
				<string>Berufsbezeichnung</string>
				<string>Tätigkeit</string>
			</array>
		</dict>
		<dict>
			<key>ABProperty</key>
			<string>Email</string>
			<key>FieldLabels</key>
			<array>
				<string>email</string>
				<string>E-Mail</string>
				<string>E-Mail Adresse</string>
				<string>E-Mail-Adresse</string>
			</array>
		</dict>
		<dict>
			<key>ABKey</key>
			<string>Street</string>
			<key>ABProperty</key>
			<string>Address</string>
			<key>FieldLabels</key>
			<array>
				<string>Straße</string>
				<string>Strasse</string>
				<string>Str.</string>
			</array>
		</dict>
		<dict>
			<key>ABKey</key>
			<string>Street</string>
			<key>ABProperty</key>
			<string>Address</string>
			<key>FieldLabels</key>
			<array>
				<string>Adresse</string>
			</array>
			<key>SearchPass</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>ABKey</key>
			<string>City</string>
			<key>ABProperty</key>
			<string>Address</string>
			<key>FieldLabels</key>
			<array>
				<string>Stadt</string>
				<string>Ort</string>
			</array>
		</dict>
		<dict>
			<key>ABKey</key>
			<string>State</string>
			<key>ABProperty</key>
			<string>Address</string>
			<key>FieldLabels</key>
			<array>
				<string>Bundesland</string>
				<string>Bundesstaat</string>
			</array>
		</dict>
		<dict>
			<key>ABKey</key>
			<string>ZIP</string>
			<key>ABProperty</key>
			<string>Address</string>
			<key>FieldLabels</key>
			<array>
				<string>PLZ</string>
				<string>Postleitzahl</string>
			</array>
		</dict>
		<dict>
			<key>ABKey</key>
			<string>Country</string>
			<key>ABProperty</key>
			<string>Address</string>
			<key>FieldLabels</key>
			<array>
				<string>Land</string>
			</array>
		</dict>
		<dict>
			<key>ABLabel</key>
			<string>_$!&lt;Home&gt;!$_</string>
			<key>ABProperty</key>
			<string>Phone</string>
			<key>FieldLabels</key>
			<array>
				<string>Telefon privat</string>
				<string>Telefon (privat)</string>
				<string>Telefon abends</string>
				<string>Rufnummer privat</string>
				<string>Rufnummer (privat)</string>
				<string>Rufnummer abends</string>
			</array>
		</dict>
		<dict>
			<key>ABLabel</key>
			<string>_$!&lt;Work&gt;!$_</string>
			<key>ABProperty</key>
			<string>Phone</string>
			<key>FieldLabels</key>
			<array>
				<string>Telefon geschäftlich</string>
				<string>Telefon (geschäftlich)</string>
				<string>Telefon tagsüber</string>
				<string>Telefon dienstlich</string>
				<string>Rufnummer geschäftlich</string>
				<string>Rufnummer (geschäftlich)</string>
				<string>Rufnummer tagsüber</string>
				<string>Rufnummer dienstlich</string>
			</array>
		</dict>
		<dict>
			<key>ABProperty</key>
			<string>Phone</string>
			<key>ABLabel</key>
			<string>_$!&lt;Mobile&gt;!$_</string>
			<key>FieldLabels</key>
			<array>
				<string>Mobiltelefon</string>
				<string>Mobil</string>
				<string>Handy</string>
				<string>Vorwahl Mobiltelefon</string>
				<string>Vorwahl Mobil</string>
				<string>Vorwahl (Mobiltelefon)</string>
				<string>Vorwahl (Mobil)</string>
				<string>Mobiltelefon-Vorwahl</string>
				<string>Mobilfunk-Vorwahl</string>
				<string>Vorwahl Mobilfunk</string>
				<string>Vorwahl (Mobilfunk)</string>
				<string>Netzbetreiber-Vorwahl</string>
				<string>Vorwahl Netzbetreiber</string>
				<string>Vorwahl (Netzbetreiber)</string>
			</array>
		</dict>
		<dict>
			<key>ABProperty</key>
			<string>Phone</string>
			<key>ABLabel</key>
			<string>_$!&lt;Pager&gt;!$_</string>
			<key>FieldLabels</key>
			<array>
				<string>Pager</string>
				<string>Vorwahl Pager</string>
				<string>Vorwahl (Pager)</string>
				<string>Pager-Vorwahl</string>
			</array>
		</dict>
		<dict>
			<key>ABProperty</key>
			<string>Phone</string>
			<key>FieldLabels</key>
			<array>
				<string>Vorwahl</string>
				<string>Vorwahlnummer</string>
			</array>
		</dict>
		<dict>
			<key>ABProperty</key>
			<string>Phone</string>
			<key>FieldLabels</key>
			<array>
				<string>Telefon</string>
				<string>Telefonnummer</string>
				<string>Fon</string>
			</array>
			<key>SearchPass</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>ABProperty</key>
			<string>Phone</string>
			<key>FieldLabels</key>
			<array>
				<string>Fax</string>
				<string>Telefax</string>
			</array>
		</dict>
		<dict>
			<key>ABProperty</key>
			<string>Organization</string>
			<key>FieldLabels</key>
			<array>
				<string>Organisation</string>
				<string>Firma</string>
			</array>
		</dict>
	</array>
	<key>Synonyms</key>
	<dict>
		<key>Address</key>
		<dict>
			<key>Country</key>
			<array>
				<array>
					<string>D</string>
					<string>Deutschland</string>
					<string>Bundesrepublik Deutschland</string>
				</array>
				<array>
					<string>AUT</string>
					<string>Österreich</string>
					<string>Republik Österreich</string>
				</array>
				<array>
					<string>CH</string>
					<string>Schweiz</string>
					<string>Schweizerische Eidgenossenschaft</string>
					<string></string>
				</array>
			</array>
			<key>State</key>
			<array>
				<array>
					<string>Baden-Württemberg</string>
					<string>BW</string>
				</array>
				<array>
					<string>Freistaat Bayern</string>
					<string>BY</string>
				</array>
				<array>
					<string>Berlin</string>
					<string>BE</string>
				</array>
				<array>
					<string>Brandenburg</string>
					<string>BB</string>
				</array>
				<array>
					<string>Freie Hansestadt Bremen</string>
					<string>HB</string>
				</array>
				<array>
					<string>Freie und Hansestadt Hamburg</string>
					<string>HH</string>
				</array>
				<array>
					<string>Hessen</string>
					<string>HE</string>
				</array>
				<array>
					<string>Mecklenburg-Vorpommern</string>
					<string>MV</string>
				</array>
				<array>
					<string>Niedersachsen</string>
					<string>NI</string>
				</array>
				<array>
					<string>Nordrhein-Westfalen</string>
					<string>NW</string>
				</array>
				<array>
					<string>Rheinland-Pfalz</string>
					<string>RP</string>
				</array>
				<array>
					<string>Saarland</string>
					<string>SL</string>
				</array>
				<array>
					<string>Freistaat Sachsen</string>
					<string>SN</string>
				</array>
				<array>
					<string>Sachsen-Anhalt</string>
					<string>ST</string>
				</array>
				<array>
					<string>Schleswig-Holstein</string>
					<string>SH</string>
				</array>
				<array>
					<string>Freistaat Thüringen</string>
					<string>TH</string>
				</array>
				<array>
					<string>Burgenland</string>
					<string>BGLD</string>
				</array>
				<array>
					<string>Kärnten</string>
					<string>KNT</string>
				</array>
				<array>
					<string>Niederösterreich</string>
					<string>NÖ</string>
				</array>
				<array>
					<string>Oberösterreich</string>
					<string>OÖ</string>
				</array>
				<array>
					<string>Salzburg</string>
					<string>SBG</string>
				</array>
				<array>
					<string>Steiermark</string>
					<string>STMK</string>
				</array>
				<array>
					<string>Tirol</string>
					<string>T</string>
				</array>
				<array>
					<string>Voralberg</string>
					<string>VLBG</string>
				</array>
				<array>
					<string>Wien</string>
					<string>W</string>
				</array>
				<array>
					<string>Aargau</string>
					<string>AG</string>
				</array>
				<array>
					<string>Appenzell Innerrhoden</string>
					<string>AI</string>
				</array>
				<array>
					<string>Appenzell Ausserrhoden</string>
					<string>AR</string>
				</array>
				<array>
					<string>Bern</string>
					<string>BE</string>
				</array>
				<array>
					<string>Basel-Landschaft</string>
					<string>BL</string>
				</array>
				<array>
					<string>Basel-Stadt</string>
					<string>BS</string>
				</array>
				<array>
					<string>Freiburg</string>
					<string>FR</string>
				</array>
				<array>
					<string>Genf</string>
					<string>GE</string>
				</array>
				<array>
					<string>Glarus</string>
					<string>GL</string>
				</array>
				<array>
					<string>Graubünden</string>
					<string>GR</string>
				</array>
				<array>
					<string>Jura</string>
					<string>JU</string>
				</array>
				<array>
					<string>Luzern</string>
					<string>LU</string>
				</array>
				<array>
					<string>Neuenburg</string>
					<string>NE</string>
				</array>
				<array>
					<string>Unterwalden-Nidwalden</string>
					<string>NW</string>
				</array>
				<array>
					<string>Unterwalden-Obwalden</string>
					<string>OW</string>
				</array>
				<array>
					<string>Sankt Gallen</string>
					<string>SG</string>
				</array>
				<array>
					<string>Schaffhausen</string>
					<string>SH</string>
				</array>
				<array>
					<string>Solothurn</string>
					<string>SO</string>
				</array>
				<array>
					<string>Schwyz</string>
					<string>SZ</string>
				</array>
				<array>
					<string>Thurgau</string>
					<string>TG</string>
				</array>
				<array>
					<string>Tessin</string>
					<string>TI</string>
				</array>
				<array>
					<string>Uri</string>
					<string>UR</string>
				</array>
				<array>
					<string>Waadt</string>
					<string>VD</string>
				</array>
				<array>
					<string>Wallis</string>
					<string>VS</string>
				</array>
				<array>
					<string>Zug</string>
					<string>ZG</string>
				</array>
				<array>
					<string>Zürich</string>
					<string>ZH</string>
				</array>
			</array>
		</dict>
	</dict>
</dict>
</plist>
