<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Mappings</key>
	<array>
		<dict>
			<key>ABProperty</key>
			<string>Fornavn</string>
			<key>FieldLabels</key>
			<array>
				<string>for</string>
				<string>fornavn</string>
				<string>fnavn</string>
				<string>f-navn</string>
				<string>døbenavn</string>
			</array>
		</dict>
		<dict>
			<key>ABProperty</key>
			<string>Mellemnavn</string>
			<key>FieldLabels</key>
			<array>
				<string>forbogstav, mellemnavn</string>
				<string>initial, mellemnavn</string>
				<string>mellem navn</string>
				<string>mellem</string>
			</array>
		</dict>
		<dict>
			<key>ABProperty</key>
			<string>Efternavn</string>
			<key>FieldLabels</key>
			<array>
				<string>efter</string>
				<string>Efternavn</string>
				<string>enavn</string>
				<string>familienavn</string>
			</array>
		</dict>
		<dict>
			<key>ABComputedProperty</key>
			<string>_realCompositeName</string>
			<key>ABProperty</key>
			<array>
				<string>fornavn</string>
				<string>Mellemnavn</string>
				<string>Efternavn</string>
				<string>Suffiks</string>
			</array>
			<key>FieldLabels</key>
			<array>
				<string>fulde navn</string>
				<string>fuldt navn</string>
			</array>
			<key>ProxyABProperty</key>
			<string>FullNameComposite</string>
		</dict>
		<dict>
			<key>ABComputedProperty</key>
			<string>_realCompositeName</string>
			<key>ABProperty</key>
			<array>
				<string>Fornavn</string>
				<string>Mellemnavn</string>
				<string>Efternavn</string>
				<string>Suffiks</string>
			</array>
			<key>FieldLabels</key>
			<array>
				<string>navn</string>
			</array>
			<key>ProxyABProperty</key>
			<string>FullNameComposite</string>
			<key>SearchPass</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>ABProperty</key>
			<string>Fødselsdag</string>
			<key>FieldLabels</key>
			<array>
				<string>fødselsdag</string>
				<string>fødselsdato</string>
				<string>født</string>
			</array>
		</dict>
		<dict>
			<key>ABProperty</key>
			<string>Stilling</string>
			<key>FieldLabels</key>
			<array>
				<string>stilling</string>
			</array>
		</dict>
		<dict>
			<key>ABProperty</key>
			<string>E-post</string>
			<key>FieldLabels</key>
			<array>
				<string>e-post</string>
				<string>e-postadr</string>
				<string>e-postadresse</string>
			</array>
		</dict>
		<dict>
			<key>ABKey</key>
			<string>Street</string>
			<key>ABProperty</key>
			<string>Addresse</string>
			<key>FieldLabels</key>
			<array>
				<string>gade</string>
				<string>gadeadresse</string>
				<string>vej</string>
				<string>vejadresse</string>
				<string>angivAdresseAdresselinje</string>
				<string>adresse1</string>
				<string>adresse 1</string>
			</array>
		</dict>
		<dict>
			<key>ABKey</key>
			<string>Vej</string>
			<key>ABProperty</key>
			<string>Adresse</string>
			<key>FieldLabels</key>
			<array>
				<string>adresse</string>
			</array>
			<key>SearchPass</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>ABKey</key>
			<string>By</string>
			<key>ABProperty</key>
			<string>Adresse</string>
			<key>FieldLabels</key>
			<array>
				<string>by</string>
			</array>
		</dict>
		<dict>
			<key>ABKey</key>
			<string>Delstat</string>
			<key>ABProperty</key>
			<string>Adresse</string>
			<key>FieldLabels</key>
			<array>
				<string>delstat</string>
			</array>
		</dict>
		<dict>
			<key>ABKey</key>
			<string>Postnummer</string>
			<key>ABProperty</key>
			<string>Address</string>
			<key>FieldLabels</key>
			<array>
				<string>Postnummer</string>
				<string>postnr.</string>
			</array>
		</dict>
		<dict>
			<key>ABKey</key>
			<string>Land</string>
			<key>ABProperty</key>
			<string>Adresse</string>
			<key>FieldLabels</key>
			<array>
				<string>land</string>
			</array>
		</dict>
		<dict>
			<key>ABLabel</key>
			<string>_$!&lt;Home&gt;!$_</string>
			<key>ABProperty</key>
			<string>Telefon</string>
			<key>FieldLabels</key>
			<array>
				<string>hjemnummer</string>
				<string>privat</string>
				<string>telefon, aften</string>
				<string>områdenummer, privat</string>
				<string>områdenummer, aften</string>
			</array>
		</dict>
		<dict>
			<key>ABLabel</key>
			<string>_$!&lt;Work&gt;!$_</string>
			<key>ABProperty</key>
			<string>Telefonnummer</string>
			<key>FieldLabels</key>
			<array>
				<string>arbejdsnummer</string>
				<string>telefon, arbejde</string>
				<string>dagtelefon</string>
				<string>telefon, dag</string>
				<string>telefon, dagtid</string>
				<string>firmatelfon</string>
				<string>telefon, firma</string>
				<string>arbejdstelefon</string>
				<string>områdenummer, arbejde</string>
				<string>områdenummer om dagen</string>
				<string>områdenummer, dag</string>
				<string>områdenummer, firma</string>
				<string>områdenummer, selskab</string>
			</array>
		</dict>
		<dict>
			<key>ABLabel</key>
			<string>_$!&lt;Mobile&gt;!$_</string>
			<key>ABProperty</key>
			<string>Telefon</string>
			<key>FieldLabels</key>
			<array>
				<string>mobiltelefon</string>
				<string>telefon, mobil</string>
				<string>områdenummer, mobil</string>
			</array>
		</dict>
		<dict>
			<key>ABLabel</key>
			<string>_$!&lt;Pager&gt;!$_</string>
			<key>ABProperty</key>
			<string>Telefon</string>
			<key>FieldLabels</key>
			<array>
				<string>personsøger</string>
				<string>personsøger nr.</string>
				<string>områdenummer, personsøger</string>
				<string>områdenummer til personsøger</string>
			</array>
		</dict>
		<dict>
			<key>ABProperty</key>
			<string>Telefon</string>
			<key>FieldLabels</key>
			<array>
				<string>områdenummer</string>
				<string>omdrådenr.</string>
			</array>
		</dict>
		<dict>
			<key>ABProperty</key>
			<string>Telefon</string>
			<key>FieldLabels</key>
			<array>
				<string>tlf.</string>
				<string>telefonnummer</string>
				<string>telefonnr.</string>
				<string>telefon</string>
			</array>
			<key>SearchPass</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>ABProperty</key>
			<string>Telefon</string>
			<key>FieldLabels</key>
			<array>
				<string>fax</string>
			</array>
		</dict>
		<dict>
			<key>ABProperty</key>
			<string>Organisation</string>
			<key>FieldLabels</key>
			<array>
				<string>organisation</string>
				<string>selskak</string>
			</array>
		</dict>
	</array>
	<key>Synonyms</key>
	<dict>
		<key>Address</key>
		<dict>
			<key>Country</key>
			<array>
				<array>
					<string>USA</string>
					<string>US</string>
					<string>United States</string>
					<string>United States of America</string>
				</array>
				<array>
					<string>UK</string>
					<string>Storbrittanien</string>
				</array>
			</array>
			<key>State</key>
			<array>
				<array>
					<string>Alabama</string>
					<string>AL</string>
				</array>
				<array>
					<string>Alaska</string>
					<string>AK</string>
				</array>
				<array>
					<string>Alberta</string>
					<string>AB</string>
				</array>
				<array>
					<string>Arizona</string>
					<string>AZ</string>
				</array>
				<array>
					<string>Arkansas</string>
					<string>AR</string>
				</array>
				<array>
					<string>British Columbia</string>
					<string>BC</string>
				</array>
				<array>
					<string>California</string>
					<string>CA</string>
				</array>
				<array>
					<string>Colorado</string>
					<string>CO</string>
				</array>
				<array>
					<string>Connecticut</string>
					<string>CT</string>
				</array>
				<array>
					<string>Delaware</string>
					<string>DE</string>
				</array>
				<array>
					<string>District of Columbia</string>
					<string>DC</string>
				</array>
				<array>
					<string>Florida</string>
					<string>FL</string>
				</array>
				<array>
					<string>Georgia</string>
					<string>GA</string>
				</array>
				<array>
					<string>Hawaii</string>
					<string>HI</string>
				</array>
				<array>
					<string>Idaho</string>
					<string>ID</string>
				</array>
				<array>
					<string>Illinois</string>
					<string>IL</string>
				</array>
				<array>
					<string>Indiana</string>
					<string>IN</string>
				</array>
				<array>
					<string>Iowa</string>
					<string>IA</string>
				</array>
				<array>
					<string>Kansas</string>
					<string>KS</string>
				</array>
				<array>
					<string>Kentucky</string>
					<string>KY</string>
				</array>
				<array>
					<string>Louisiana</string>
					<string>LA</string>
				</array>
				<array>
					<string>Maine</string>
					<string>ME</string>
				</array>
				<array>
					<string>Manitoba</string>
					<string>MB</string>
				</array>
				<array>
					<string>Maryland</string>
					<string>MD</string>
				</array>
				<array>
					<string>Massachusetts</string>
					<string>MA</string>
				</array>
				<array>
					<string>Michigan</string>
					<string>MI</string>
				</array>
				<array>
					<string>Minnesota</string>
					<string>MN</string>
				</array>
				<array>
					<string>Mississippi</string>
					<string>MS</string>
				</array>
				<array>
					<string>Missouri</string>
					<string>MO</string>
				</array>
				<array>
					<string>Montana</string>
					<string>MT</string>
				</array>
				<array>
					<string>Nebraska</string>
					<string>NE</string>
				</array>
				<array>
					<string>Nevada</string>
					<string>NV</string>
				</array>
				<array>
					<string>New Brunswick</string>
					<string>NB</string>
				</array>
				<array>
					<string>New Hampshire</string>
					<string>NH</string>
				</array>
				<array>
					<string>New Jersey</string>
					<string>NJ</string>
				</array>
				<array>
					<string>New Mexico</string>
					<string>NM</string>
				</array>
				<array>
					<string>New York</string>
					<string>NY</string>
				</array>
				<array>
					<string>Newfoundland</string>
					<string>NF</string>
				</array>
				<array>
					<string>North Carolina</string>
					<string>NC</string>
				</array>
				<array>
					<string>North Dakota</string>
					<string>ND</string>
				</array>
				<array>
					<string>Northwest Territories</string>
					<string>NT</string>
				</array>
				<array>
					<string>Nova Scotia</string>
					<string>NS</string>
				</array>
				<array>
					<string>Ohio</string>
					<string>OH</string>
				</array>
				<array>
					<string>Oklahoma</string>
					<string>OK</string>
				</array>
				<array>
					<string>Ontario</string>
					<string>ON</string>
				</array>
				<array>
					<string>Oregon</string>
					<string>OR</string>
				</array>
				<array>
					<string>Pennsylvania</string>
					<string>PA</string>
				</array>
				<array>
					<string>Prince Edward Island</string>
					<string>PE</string>
				</array>
				<array>
					<string>Quebec</string>
					<string>PQ</string>
				</array>
				<array>
					<string>Rhode Island</string>
					<string>RI</string>
				</array>
				<array>
					<string>Saskatchewan</string>
					<string>SK</string>
				</array>
				<array>
					<string>South Carolina</string>
					<string>SC</string>
				</array>
				<array>
					<string>South Dakota</string>
					<string>SD</string>
				</array>
				<array>
					<string>Tennessee</string>
					<string>TN</string>
				</array>
				<array>
					<string>Texas</string>
					<string>TX</string>
				</array>
				<array>
					<string>Utah</string>
					<string>UT</string>
				</array>
				<array>
					<string>Vermont</string>
					<string>VT</string>
				</array>
				<array>
					<string>Virginia</string>
					<string>VA</string>
				</array>
				<array>
					<string>Washington</string>
					<string>WA</string>
				</array>
				<array>
					<string>West Virginia</string>
					<string>WV</string>
				</array>
				<array>
					<string>Wisconsin</string>
					<string>WI</string>
				</array>
				<array>
					<string>Wyoming</string>
					<string>WY</string>
				</array>
				<array>
					<string>Yukon</string>
					<string>YT</string>
				</array>
			</array>
		</dict>
	</dict>
</dict>
</plist>
