<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Mappings</key>
	<array>
		<dict>
			<key>ABProperty</key>
			<string>First</string>
			<key>FieldLabels</key>
			<array>
				<string>Имя</string>
			</array>
		</dict>
		<dict>
			<key>ABProperty</key>
			<string>Middle</string>
			<key>FieldLabels</key>
			<array>
				<string>Отчество</string>
			</array>
		</dict>
		<dict>
			<key>ABProperty</key>
			<string>Last</string>
			<key>FieldLabels</key>
			<array>
				<string>Фамилия</string>
			</array>
		</dict>
		<dict>
			<key>ABComputedProperty</key>
			<string>_realCompositeName</string>
			<key>ABProperty</key>
			<array>
				<string>Имя</string>
				<string>Отчество</string>
				<string>Фамилия</string>
			</array>
			<key>FieldLabels</key>
			<array>
				<string>Полное имя</string>
				<string>полное имя</string>
				<string>полноеимя</string>
				<string>ФИО</string>
				<string>Ф.И.О.</string>				
			</array>
			<key>ProxyABProperty</key>
			<string>FullNameComposite</string>
		</dict>
		<dict>
			<key>ABComputedProperty</key>
			<string>_realCompositeName</string>
			<key>ABProperty</key>
			<array>
				<string>Имя</string>
				<string>Отчество</string>
				<string>Фамилия</string>
			</array>
			<key>FieldLabels</key>
			<array>
				<string>Имя</string>
				<string>имя</string>
			</array>
			<key>ProxyABProperty</key>
			<string>FullNameComposite</string>
			<key>SearchPass</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>ABProperty</key>
			<string>Birthday</string>
			<key>FieldLabels</key>
			<array>
				<string>День рождения</string>
				<string>Дата рождения</string>
				<string>день рождения</string>
				<string>дата рождения</string>
				<string>деньрождения</string>
				<string>датарождения</string>
				<string>родился</string>
				<string>родилась</string>				
			</array>
		</dict>
		<dict>
			<key>ABProperty</key>
			<string>JobTitle</string>
			<key>FieldLabels</key>
			<array>
				<string>Профессия</string>
				<string>Вид деятельности</string>
				<string>виддеятельности</string>
				<string>Род деятельности</string>
				<string>роддеятельности</string>
				<string>Должность</string>
			</array>
		</dict>
		<dict>
			<key>ABProperty</key>
			<string>Email</string>
			<key>FieldLabels</key>
			<array>
				<string>Адрес электронной почты</string>
				<string>Электронный адрес</string>
				<string>Адрес e-mail</string>
				<string>Адрес e-Mail</string>
				<string>Адрес E-Mail</string>
				<string>Адрес email</string>
				<string>e-mail</string>
				<string>E-Mail</string>
			</array>
		</dict>
		<dict>
			<key>ABKey</key>
			<string>Street</string>
			<key>ABProperty</key>
			<string>Address</string>
			<key>FieldLabels</key>
			<array>
				<string>Улица</string>
				<string>Ул.</string>
			</array>
		</dict>
		<dict>
			<key>ABKey</key>
			<string>Street</string>
			<key>ABProperty</key>
			<string>Address</string>
			<key>FieldLabels</key>
			<array>
				<string>Адрес</string>
			</array>
			<key>SearchPass</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>ABKey</key>
			<string>City</string>
			<key>ABProperty</key>
			<string>Address</string>
			<key>FieldLabels</key>
			<array>
				<string>Город</string>
				<string>Населенный пункт</string>
				<string>г.</string>
			</array>
		</dict>
		<dict>
			<key>ABKey</key>
			<string>State</string>
			<key>ABProperty</key>
			<string>Address</string>
			<key>FieldLabels</key>
			<array>
				<string>Республика</string>
				<string>Область</string>
				<string>Регион</string>
				<string>Край</string>
			</array>
		</dict>
		<dict>
			<key>ABKey</key>
			<string>ZIP</string>
			<key>ABProperty</key>
			<string>Address</string>
			<key>FieldLabels</key>
			<array>
				<string>Почтовый индекс</string>
				<string>Индекс</string>
			</array>
		</dict>
		<dict>
			<key>ABKey</key>
			<string>Country</string>
			<key>ABProperty</key>
			<string>Address</string>
			<key>FieldLabels</key>
			<array>
				<string>Страна</string>
			</array>
		</dict>
		<dict>
			<key>ABLabel</key>
			<string>_$!&lt;Home&gt;!$_</string>
			<key>ABProperty</key>
			<string>Phone</string>
			<key>FieldLabels</key>
			<array>
				<string>Домашний телефон</string>
				<string>домашний телефон</string>
				<string>Домашний</string>
				<string>Дом.</string>
				<string>Дом. телефон</string>
				<string>В вечерние часы</string>
				<string>Вечером</string>
				<string>Домашний номер</string>
				<string>Домашний номер телефона</string>
				<string>Домашний телефонный номер</string>
				<string>Код домашнего телефонного номера</string>
			</array>
		</dict>
		<dict>
			<key>ABLabel</key>
			<string>_$!&lt;Work&gt;!$_</string>
			<key>ABProperty</key>
			<string>Phone</string>
			<key>FieldLabels</key>
			<array>
				<string>Рабочий телефон</string>
				<string>рабочий телефон</string>
				<string>Рабочий</string>
				<string>Раб.</string>
				<string>Раб. телефон</string>
				<string>Служебный телефон</string>
				<string>Служебный</string>
				<string>В дневные часы</string>
				<string>Днем</string>
				<string>Рабочий номер телефона</string>
				<string>Рабочий телефонный номер</string>
				<string>Рабочий телефонный номер</string>
				<string>Рабочий номер телефона</string>
				<string>Код рабочего телефонного номера</string>
			</array>
		</dict>
		<dict>
			<key>ABLabel</key>
			<string>_$!&lt;Mobile&gt;!$_</string>
			<key>ABProperty</key>
			<string>Phone</string>
			<key>FieldLabels</key>
			<array>
				<string>Мобильный телефон</string>
				<string>мобильный телефон</string>
				<string>Мобильный</string>
				<string>Моб.</string>
				<string>Моб. телефон</string>
				<string>Сотовый телефон</string>
				<string>Сотовый</string>
				<string>Телефон мобильной связи</string>
				<string>Телефон сотовой связи</string>
				<string>Код оператора мобильной связи</string>
				<string>Код оператора сотовой связи</string>
				<string>Номер оператора мобильной связи</string>
				<string>Номер оператора сотовой связи</string>
				<string>Мобильный номер телефона</string>
				<string>Мобильный телефонный номер</string>
			</array>
		</dict>
		<dict>
			<key>ABLabel</key>
			<string>_$!&lt;Pager&gt;!$_</string>
			<key>ABProperty</key>
			<string>Phone</string>
			<key>FieldLabels</key>
			<array>
				<string>Пейджер</string>
				<string>Код пейджера</string>
				<string>Номер пейджера</string>
			</array>
		</dict>
		<dict>
			<key>ABProperty</key>
			<string>Phone</string>
			<key>FieldLabels</key>
			<array>
				<string>Код города</string>
				<string>Код области</string>
				<string>Код республики</string>
				<string>Код края</string>
				<string>Код населенного пункта</string>
			</array>
		</dict>
		<dict>
			<key>ABProperty</key>
			<string>Phone</string>
			<key>FieldLabels</key>
			<array>
				<string>Телефон</string>
				<string>Тел.</string>
				<string>Номер телефона</string>
				<string>Телефонный номер</string>
			</array>
			<key>SearchPass</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>ABProperty</key>
			<string>Phone</string>
			<key>FieldLabels</key>
			<array>
				<string>Факс</string>
				<string>Номер факса</string>
				<string>Телефакс</string>
			</array>
		</dict>
		<dict>
			<key>ABProperty</key>
			<string>Organization</string>
			<key>FieldLabels</key>
			<array>
				<string>Предприятие</string>
				<string>Организация</string>
				<string>Компания</string>
				<string>Фирма</string>
			</array>
		</dict>
	</array>
	<key>Synonyms</key>
	<dict>
		<key>Address</key>
		<dict>
			<key>Country</key>
			<array>
				<array>
					<string>РФ</string>
					<string>Россия</string>
					<string>Российская Федерация</string>
				</array>
			</array>
			<key>State</key>
			<array>
				<array> 
					<string>Амурская область</string> 
				</array>
				<array> 
					<string>Алтайский край</string> 
				</array>
				<array> 
					<string>Агинский Бурятский автономный округ</string> 
				</array>
				<array> 
					<string>Архангельская область</string> 
				</array>
				<array> 
					<string>Астраханская область</string> 
				</array>
				<array> 
					<string>Белгородская область</string> 
				</array>
				<array> 
					<string>Брянская область</string> 
				</array>
				<array> 
					<string>Владимирская область</string> 
				</array>
				<array> 
					<string>Волгоградская область</string> 
				</array>
				<array> 
					<string>Вологодская область</string> 
				</array>
				<array> 
					<string>Воронежская область</string> 
				</array>
				<array> 
					<string>Еврейская автономная область</string> 
				</array>
				<array> 
					<string>Ивановская область</string> 
				</array>
				<array> 
					<string>Иркутская область</string> 
				</array>
				<array> 
					<string>Кабардино-Балкарская Республика</string> 
				</array>
				<array> 
					<string>Калининградская область</string> 
				</array>
				<array> 
					<string>Калужская область</string> 
				</array>
				<array> 
					<string>Камчатская область</string> 
				</array>
				<array> 
					<string>Карачаево - Черкесская Республика</string> 
				</array>
				<array> 
					<string>Кемеровская область</string> 
				</array>
				<array> 
					<string>Кировская область</string> 
				</array>
				<array> 
					<string>Коми-Пермяцкий автономный округ</string> 
				</array>
				<array> 
					<string>Корякский автономный округ</string> 
				</array>
				<array> 
					<string>Костромская область</string> 
				</array>
				<array> 
					<string>Краснодарский край</string> 
				</array>
				<array> 
					<string>Красноярский край</string> 
				</array>
				<array> 
					<string>Курганская область</string> 
				</array>
				<array> 
					<string>Курская область</string> 
				</array>
				<array> 
					<string>Ленинградская область</string> 
				</array>
				<array> 
					<string>Липецкая область</string> 
				</array>
				<array> 
					<string>Магаданская область</string> 
				</array>
				<array> 
					<string>Московская область</string> 
				</array>
				<array> 
					<string>Мурманская область</string> 
				</array>
				<array> 
					<string>Ненецкий автономный округ</string> 
				</array>
				<array> 
					<string>Нижегородская область</string> 
				</array>
				<array> 
					<string>Новгородская область</string> 
				</array>
				<array> 
					<string>Новосибирская область</string> 
				</array>
				<array> 
					<string>Омская область</string> 
				</array>
				<array> 
					<string>Оренбургская область</string> 
				</array>
				<array> 
					<string>Орловская область</string> 
				</array>
				<array> 
					<string>Пензенская область</string> 
				</array>
				<array> 
					<string>Пермская область</string> 
				</array>
				<array> 
					<string>Приморский край</string> 
				</array>
				<array> 
					<string>Псковская область</string> 
				</array>
				<array> 
					<string>Республика Адыгея (Адыгея)</string> 
				</array>
				<array> 
					<string>Республика Алтай</string> 
				</array>
				<array> 
					<string>Республика Башкортостан</string> 
				</array>
				<array> 
					<string>Республика Бурятия</string> 
				</array>
				<array> 
					<string>Республика Дагестан</string> 
				</array>
				<array> 
					<string>Республика Калмыкия - Хальмг Тангч</string> 
				</array>
				<array> 
					<string>Республика Карелия</string> 
				</array>
				<array> 
					<string>Республика Коми</string> 
				</array>
				<array> 
					<string>Республика Марий Эл</string> 
				</array>
				<array> 
					<string>Республика Мордовия</string> 
				</array>
				<array> 
					<string>Республика Саха (Якутия)</string> 
				</array>
				<array> 
					<string>Республика Северная Осетия</string> 
				</array>
				<array> 
					<string>Республика Татарстан (Татарстан)</string> 
				</array>
				<array> 
					<string>Республика Тыва</string> 
				</array>
				<array> 
					<string>Республика Хакасия</string> 
				</array>
				<array> 
					<string>Ростовская область</string> 
				</array>
				<array> 
					<string>Рязанская область</string> 
				</array>
				<array> 
					<string>Самарская область</string> 
				</array>
				<array> 
					<string>Саратовская область</string> 
				</array>
				<array> 
					<string>Сахалинская область</string> 
				</array>
				<array> 
					<string>Свердловская область</string> 
				</array>
				<array> 
					<string>Смоленская область</string> 
				</array>
				<array> 
					<string>Ставропольский край</string> 
				</array>
				<array> 
					<string>Таймырский (Долгано-Ненецкий) автономный округ</string> 
				</array>
				<array> 
					<string>Тамбовская область</string> 
				</array>
				<array> 
					<string>Тверская область</string> 
				</array>
				<array> 
					<string>Томская область</string> 
				</array>
				<array> 
					<string>Тульская область</string> 
				</array>
				<array> 
					<string>Тюменская область</string> 
				</array>
				<array> 
					<string>Удмуртская Республика</string> 
				</array>
				<array> 
					<string>Ульяновская область</string> 
				</array>
				<array> 
					<string>Усть-Ордынский Бурятский автономный округ</string> 
				</array>
				<array> 
					<string>Хабаровский край</string> 
				</array>
				<array> 
					<string>Ханты-Мансийский автономный округ</string> 
				</array>
				<array> 
					<string>Челябинская область</string> 
				</array>
				<array> 
					<string>Чеченская Республика</string> 
				</array>
				<array> 
					<string>Читинская область</string> 
				</array>
				<array> 
					<string>Чувашская Республика - Чаваш республики</string> 
				</array>
				<array> 
					<string>Чукотский автономный округ</string> 
				</array>
				<array> 
					<string>Эвенкийский автономный округ</string> 
				</array>
				<array> 
					<string>Ярославская область</string> 
				</array>
			</array>
		</dict>
	</dict>
</dict>
</plist>
