<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Mappings</key>
	<array>
		<dict>
			<key>ABProperty</key>
			<string>First</string>
			<key>FieldLabels</key>
			<array>
				<string>first</string>
				<string>first name</string>
				<string>fname</string>
				<string>f name</string>
				<string>firstname</string>
				<string>given name</string>
				<string>이름</string>
			</array>
		</dict>
		<dict>
			<key>ABProperty</key>
			<string>Middle</string>
			<key>FieldLabels</key>
			<array>
				<string>middle initial</string>
				<string>middleinitial</string>
				<string>middle name</string>
				<string>middlename</string>
				<string>middle</string>
				<string>중간 이름</string>
				<string>중간이름</string>
				<string>가운데 이름</string>
				<string>가운데이름</string>
				<string>중간 이름 첫자</string>
				<string>중간이름 첫자</string>
				<string>가운데 이름 첫자</string>
				<string>가운데이름 첫자</string>
			</array>
		</dict>
		<dict>
			<key>ABProperty</key>
			<string>Last</string>
			<key>FieldLabels</key>
			<array>
				<string>last</string>
				<string>last name</string>
				<string>lname</string>
				<string>l name</string>
				<string>lastname</string>
				<string>surname</string>
				<string>성</string>
			</array>
		</dict>
		<dict>
			<key>ProxyABProperty</key>
			<string>FullNameComposite</string>
			<key>ABComputedProperty</key>
			<string>_realCompositeName</string>
			<key>ABProperty</key>
			<array>
				<string>First</string>
				<string>Middle</string>
				<string>Last</string>
				<string>Suffix</string>
			</array>
			<key>FieldLabels</key>
			<array>
				<string>fullname</string>
				<string>full name</string>
				<string>이름</string>
				<string>전체 이름</string>
				<string>성 이름</string>
				<string>성, 이름</string>
				<string>성이름</string>
			</array>
		</dict>
		<dict>
			<key>ProxyABProperty</key>
			<string>FullNameComposite</string>
			<key>ABComputedProperty</key>
			<string>_realCompositeName</string>
			<key>ABProperty</key>
			<array>
				<string>First</string>
				<string>Middle</string>
				<string>Last</string>
				<string>Suffix</string>
			</array>
			<key>FieldLabels</key>
			<array>
				<string>name</string>
				<string>이름</string>
				<string>성 이름</string>
				<string>성, 이름</string>
				<string>성이름</string>
			</array>
			<key>SearchPass</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>ABProperty</key>
			<string>Birthday</string>
			<key>FieldLabels</key>
			<array>
				<string>birthday</string>
				<string>date of birth</string>
				<string>born</string>
				<string>생일</string>
				<string>생년월일</string>
				<string>출생일</string>
				<string>태어난 날</string>
				<string>태어난 날짜</string>
			</array>
		</dict>
		<dict>
			<key>ABProperty</key>
			<string>JobTitle</string>
			<key>FieldLabels</key>
			<array>
				<string>job title</string>
				<string>jobtitle</string>
				<string>직위</string>
				<string>직책</string>
				<string>직함</string>
			</array>
		</dict>
		<dict>
			<key>ABProperty</key>
			<string>Email</string>
			<key>FieldLabels</key>
			<array>
				<string>email</string>
				<string>emailAddr</string>
				<string>emailAddress</string>
				<string>e-mail</string>
				<string>이메일</string>
				<string>이메일 주소</string>
				<string>이메일주소</string>
				<string>email 주소</string>
				<string>email주소</string>
				<string>e-mail 주소</string>
				<string>e-mail주소</string>
			</array>
		</dict>
		<dict>
			<key>ABProperty</key>
			<string>Address</string>
			<key>ABKey</key>
			<string>Street</string>
			<key>FieldLabels</key>
			<array>
				<string>street</string>
				<string>street address</string>
				<string>streetaddress</string>
				<string>addrstreet</string>
				<string>enterAddressAddressLine</string>
				<string>address1</string>
				<string>address 1</string>
				<string>상세주소</string>
				<string>상세 주소</string>
				<string>주소1</string>
				<string>주소 1</string>
			</array>
		</dict>
		<dict>
			<key>ABProperty</key>
			<string>Address</string>
			<key>ABKey</key>
			<string>Street</string>
			<key>FieldLabels</key>
			<array>
				<string>address</string>
				<string>주소</string>
			</array>
			<key>SearchPass</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>ABProperty</key>
			<string>Address</string>
			<key>ABKey</key>
			<string>City</string>
			<key>FieldLabels</key>
			<array>
				<string>city</string>
				<string>시</string>
				<string>도시</string>
			</array>
		</dict>
		<dict>
			<key>ABProperty</key>
			<string>Address</string>
			<key>ABKey</key>
			<string>State</string>
			<key>FieldLabels</key>
			<array>
				<string>state</string>
				<string>주</string>
				<string>도</string>
			</array>
		</dict>
		<dict>
			<key>ABProperty</key>
			<string>Address</string>
			<key>ABKey</key>
			<string>ZIP</string>
			<key>FieldLabels</key>
			<array>
				<string>zip</string>
				<string>zipcode</string>
				<string>zip code</string>
				<string>postalcode</string>
				<string>postal code</string>
				<string>우편 번호</string>
				<string>우편번호</string>
				<string>우편</string>
				<string>사서함</string>
			</array>
		</dict>
		<dict>
			<key>ABProperty</key>
			<string>Address</string>
			<key>ABKey</key>
			<string>Country</string>
			<key>FieldLabels</key>
			<array>
				<string>country</string>
				<string>국가</string>
				<string>나라</string>
			</array>
		</dict>
		<dict>
			<key>ABProperty</key>
			<string>Phone</string>
			<key>ABLabel</key>
			<string>_$!&lt;Home&gt;!$_</string>
			<key>FieldLabels</key>
			<array>
				<string>homephone</string>
				<string>home phone</string>
				<string>eveningphone</string>
				<string>evening phone</string>
				<string>home area code</string>
				<string>home areacode</string>
				<string>homeareacode</string>
				<string>evening area code</string>
				<string>evening areacode</string>
				<string>eveningareacode</string>
				<string>집전화</string>
				<string>집 전화</string>
				<string>저녁연락처</string>
				<string>저녁 연락처</string>
				<string>저녁시간연락처</string>
				<string>저녁시간 연락처</string>
				<string>저녁 시간 연락처</string>
				<string>집 지역 번호</string>
				<string>집 지역번호</string>
				<string>집지역번호</string>
				<string>저녁 연락처 지역 번호</string>
				<string>저녁 연락처 지역번호</string>
				<string>저녁연락처 지역 번호</string>
				<string>저녁연락처 지역번호</string>
				<string>저녁연락처지역번호</string>
			</array>
		</dict>
		<dict>
			<key>ABProperty</key>
			<string>Phone</string>
			<key>ABLabel</key>
			<string>_$!&lt;Work&gt;!$_</string>
			<key>FieldLabels</key>
			<array>
				<string>workphone</string>
				<string>work phone</string>
				<string>dayphone</string>
				<string>day phone</string>
				<string>daytime phone</string>
				<string>daytime telephone</string>
				<string>companyphone</string>
				<string>company phone</string>
				<string>businessphone</string>
				<string>business phone</string>
				<string>work area code</string>
				<string>work areacode</string>
				<string>workareacode</string>
				<string>day area code</string>
				<string>day areacode</string>
				<string>dayareacode</string>
				<string>company area code</string>
				<string>company areacode</string>
				<string>companyareacode</string>
				<string>business area code</string>
				<string>business areacode</string>
				<string>businessareacode</string>
				<string>직장전화</string>
				<string>직장 전화</string>
				<string>낮시간연락처</string>
				<string>낮시간 연락처</string>
				<string>회사전화</string>
				<string>회사 전화</string>
				<string>업무용전화</string>
				<string>업무용 전화</string>
				<string>직장 지역 번호</string>
				<string>징장 지역번호</string>
				<string>직장지역번호</string>
				<string>낮시간 연락처 지역 번호</string>
				<string>낮시간연락처 지역번호</string>
				<string>낮시간연락처지역번호</string>
				<string>회사 지역 번호</string>
				<string>회사 지역번호</string>
				<string>회사지역번호</string>	
				<string>업무용 지역 번호</string>
				<string>업무용 지역번호</string>
				<string>업무용지역번호</string>
			</array>
		</dict>
		<dict>
			<key>ABProperty</key>
			<string>Phone</string>
			<key>ABLabel</key>
			<string>_$!&lt;Mobile&gt;!$_</string>
			<key>FieldLabels</key>
			<array>
				<string>mobilephone</string>
				<string>mobile phone</string>
				<string>cellphone</string>
				<string>cell phone</string>
				<string>mobile area code</string>
				<string>mobile areacode</string>
				<string>mobileareacode</string>
				<string>cell area code</string>
				<string>cell areacode</string>
				<string>cellareacode</string>
				<string>휴대전화</string>
				<string>휴대 전화</string>
				<string>휴대폰</string>
				<string>휴대전화 지역번호</string>
				<string>휴대전화 지역 번호</string>
				<string>휴대 전화 지역번호</string>
				<string>휴대 전화 지역 번호</string>
				<string>휴대전화지역번호</string>
				<string>휴대폰 지역 번호</string>
				<string>휴대폰 지역번호</string>
				<string>휴대폰지역번호</string>
			</array>
		</dict>
		<dict>
			<key>ABProperty</key>
			<string>Phone</string>
			<key>ABLabel</key>
			<string>_$!&lt;Pager&gt;!$_</string>
			<key>FieldLabels</key>
			<array>
				<string>pagerphone</string>
				<string>pager phone</string>
				<string>pager area code</string>
				<string>pager areacode</string>
				<string>pagerareacode</string>
				<string>호출기</string>
				<string>호출기 번호</string>
				<string>호출 번호</string>
				<string>호출기 지역 번호</string>
				<string>호출기 지역번호</string>
				<string>호출기지역번호</string>
			</array>
		</dict>
		<dict>
			<key>ABProperty</key>
			<string>Phone</string>
			<key>FieldLabels</key>
			<array>
				<string>area code</string>
				<string>areacode</string>
				<string>지역 번호</string>
				<string>지역번호</string>
			</array>
		</dict>
		<dict>
			<key>ABProperty</key>
			<string>Phone</string>
			<key>FieldLabels</key>
			<array>
				<string>phone</string>
				<string>phonenumber</string>
				<string>phone number</string>
				<string>telephone</string>
				<string>전화</string>
				<string>전화번호</string>
				<string>전화 번호</string>
				<string>연락 번호</string>
			</array>
			<key>SearchPass</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>ABProperty</key>
			<string>Phone</string>
			<key>FieldLabels</key>
			<array>
				<string>fax</string>
				<string>팩스</string>
			</array>
		</dict>
		<dict>
			<key>ABProperty</key>
			<string>Organization</string>
			<key>FieldLabels</key>
			<array>
				<string>organization</string>
				<string>company</string>
				<string>조직</string>
				<string>회사</string>
				<string>소속</string>
			</array>
		</dict>
	</array>
	<key>Synonyms</key>
	<dict>
		<key>Address</key>
		<dict>
			<key>Country</key>
			<array>
				<array>
					<string>USA</string>
					<string>US</string>
					<string>United States</string>
					<string>United States of America</string>
				</array>
				<array>
					<string>UK</string>
					<string>United Kingdom</string>
				</array>
			</array>
			<key>State</key>
			<array>
				<array> <string>Alabama</string> <string>AL</string> </array>
				<array> <string>Alaska</string> <string>AK</string> </array>
				<array> <string>Alberta</string> <string>AB</string> </array>
				<array> <string>Arizona</string> <string>AZ</string> </array>
				<array> <string>Arkansas</string> <string>AR</string> </array>
				<array> <string>British Columbia</string> <string>BC</string> </array>
				<array> <string>California</string> <string>CA</string> </array>
				<array> <string>Colorado</string> <string>CO</string> </array>
				<array> <string>Connecticut</string> <string>CT</string> </array>
				<array> <string>Delaware</string> <string>DE</string> </array>
				<array> <string>District of Columbia</string> <string>DC</string> </array>
				<array> <string>Florida</string> <string>FL</string> </array>
				<array> <string>Georgia</string> <string>GA</string> </array>
				<array> <string>Hawaii</string> <string>HI</string> </array>
				<array> <string>Idaho</string> <string>ID</string> </array>
				<array> <string>Illinois</string> <string>IL</string> </array>
				<array> <string>Indiana</string> <string>IN</string> </array>
				<array> <string>Iowa</string> <string>IA</string> </array>
				<array> <string>Kansas</string> <string>KS</string> </array>
				<array> <string>Kentucky</string> <string>KY</string> </array>
				<array> <string>Louisiana</string> <string>LA</string> </array>
				<array> <string>Maine</string> <string>ME</string> </array>
				<array> <string>Manitoba</string> <string>MB</string> </array>
				<array> <string>Maryland</string> <string>MD</string> </array>
				<array> <string>Massachusetts</string> <string>MA</string> </array>
				<array> <string>Michigan</string> <string>MI</string> </array>
				<array> <string>Minnesota</string> <string>MN</string> </array>
				<array> <string>Mississippi</string> <string>MS</string> </array>
				<array> <string>Missouri</string> <string>MO</string> </array>
				<array> <string>Montana</string> <string>MT</string> </array>
				<array> <string>Nebraska</string> <string>NE</string> </array>
				<array> <string>Nevada</string> <string>NV</string> </array>
				<array> <string>New Brunswick</string> <string>NB</string> </array>
				<array> <string>New Hampshire</string> <string>NH</string> </array>
				<array> <string>New Jersey</string> <string>NJ</string> </array>
				<array> <string>New Mexico</string> <string>NM</string> </array>
				<array> <string>New York</string> <string>NY</string> </array>
				<array> <string>Newfoundland</string> <string>NF</string> </array>
				<array> <string>North Carolina</string> <string>NC</string> </array>
				<array> <string>North Dakota</string> <string>ND</string> </array>
				<array> <string>Northwest Territories</string> <string>NT</string> </array>
				<array> <string>Nova Scotia</string> <string>NS</string> </array>
				<array> <string>Ohio</string> <string>OH</string> </array>
				<array> <string>Oklahoma</string> <string>OK</string> </array>
				<array> <string>Ontario</string> <string>ON</string> </array>
				<array> <string>Oregon</string> <string>OR</string> </array>
				<array> <string>Pennsylvania</string> <string>PA</string> </array>
				<array> <string>Prince Edward Island</string> <string>PE</string> </array>
				<array> <string>Quebec</string> <string>PQ</string> </array>
				<array> <string>Rhode Island</string> <string>RI</string> </array>
				<array> <string>Saskatchewan</string> <string>SK</string> </array>
				<array> <string>South Carolina</string> <string>SC</string> </array>
				<array> <string>South Dakota</string> <string>SD</string> </array>
				<array> <string>Tennessee</string> <string>TN</string> </array>
				<array> <string>Texas</string> <string>TX</string> </array>
				<array> <string>Utah</string> <string>UT</string> </array>
				<array> <string>Vermont</string> <string>VT</string> </array>
				<array> <string>Virginia</string> <string>VA</string> </array>
				<array> <string>Washington</string> <string>WA</string> </array>
				<array> <string>West Virginia</string> <string>WV</string> </array>
				<array> <string>Wisconsin</string> <string>WI</string> </array>
				<array> <string>Wyoming</string> <string>WY</string> </array>
				<array> <string>Yukon</string> <string>YT</string> </array>
			</array>
		</dict>
	</dict>
</dict>
</plist>
