<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Children</key>
	<array>
		<dict>
			<key>Children</key>
			<array>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.apple.com/kr/</string>
						<key>title</key>
						<string>Apple Korea</string>
					</dict>
					<key>URLString</key>
					<string>http://www.apple.com/kr/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://kr.yahoo.com/</string>
						<key>title</key>
						<string>야후! 코리아</string>
					</dict>
					<key>URLString</key>
					<string>http://kr.yahoo.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://maps.google.co.kr/</string>
						<key>title</key>
						<string>Google 지도</string>
					</dict>
					<key>URLString</key>
					<string>http://maps.google.co.kr/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://kr.youtube.com/</string>
						<key>title</key>
						<string>YouTube</string>
					</dict>
					<key>URLString</key>
					<string>http://kr.youtube.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://ko.wikipedia.org/</string>
						<key>title</key>
						<string>위키백과</string>
					</dict>
					<key>URLString</key>
					<string>http://ko.wikipedia.org/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>Children</key>
					<array>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.chosun.com/</string>
								<key>title</key>
								<string>조선일보</string>
							</dict>
							<key>URLString</key>
							<string>http://www.chosun.com/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.joins.com/</string>
								<key>title</key>
								<string>중앙일보</string>
							</dict>
							<key>URLString</key>
							<string>http://www.joins.com/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://donga.com/</string>
								<key>title</key>
								<string>동아일보</string>
							</dict>
							<key>URLString</key>
							<string>http://donga.com/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.hani.co.kr/</string>
								<key>title</key>
								<string>한겨레</string>
							</dict>
							<key>URLString</key>
							<string>http://www.hani.co.kr/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.yonhapnews.co.kr/</string>
								<key>title</key>
								<string>연합뉴스</string>
							</dict>
							<key>URLString</key>
							<string>http://www.yonhapnews.co.kr/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.mk.co.kr/</string>
								<key>title</key>
								<string>매일경제</string>
							</dict>
							<key>URLString</key>
							<string>http://www.mk.co.kr/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://cnn.joinsmsn.com</string>
								<key>title</key>
								<string>CNN 한글뉴스</string>
							</dict>
							<key>URLString</key>
							<string>http://cnn.joinsmsn.com</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>fhttp://news.naver.com</string>
								<key>title</key>
								<string>네이버 뉴스</string>
							</dict>
							<key>URLString</key>
							<string>http://news.naver.com</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://media.daum.net</string>
								<key>title</key>
								<string>Daum 미디어다음</string>
							</dict>
							<key>URLString</key>
							<string>http://media.daum.net</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
						</dict>
					</array>
					<key>Title</key>
					<string>뉴스</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeList</string>
				</dict>
				<dict>
					<key>Children</key>
					<array>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://nateon.nate.com</string>
								<key>title</key>
								<string>네이트온</string>
							</dict>
							<key>URLString</key>
							<string>http://nateon.nate.com</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.cyworld.com</string>
								<key>title</key>
								<string>싸이월드</string>
							</dict>
							<key>URLString</key>
							<string>http://www.cyworld.com</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.daum.net/</string>
								<key>title</key>
								<string>Daum</string>
							</dict>
							<key>URLString</key>
							<string>http://www.daum.net/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.naver.com/</string>
								<key>title</key>
								<string>네이버</string>
							</dict>
							<key>URLString</key>
							<string>http://www.naver.com/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.jobkorea.co.kr/</string>
								<key>title</key>
								<string>잡코리아</string>
							</dict>
							<key>URLString</key>
							<string>http://www.jobkorea.co.kr/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://seoul.craigslist.org/</string>
								<key>title</key>
								<string>Craigslist</string>
							</dict>
							<key>URLString</key>
							<string>http://seoul.craigslist.org/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
						</dict>
					</array>
					<key>Title</key>
					<string>인기 사이트</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeList</string>
				</dict>
			</array>
			<key>Title</key>
			<string>BookmarksBar</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeList</string>
		</dict>
	</array>
	<key>Title</key>
	<string></string>
	<key>WebBookmarkFileVersion</key>
	<integer>1</integer>
	<key>WebBookmarkType</key>
	<string>WebBookmarkTypeList</string>
</dict>
</plist>
