<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Mappings</key>
	<array>
		<dict>
			<key>ABProperty</key>
			<string>Nome</string>
			<key>FieldLabels</key>
			<array>
				<string>nome</string>
				<string>nome</string>
				<string>nome</string>
				<string>nome</string>
				<string>nome</string>
				<string>nome</string>
			</array>
		</dict>
		<dict>
			<key>ABProperty</key>
			<string>2º nome</string>
			<key>FieldLabels</key>
			<array>
				<string>inicial do 2º nome</string>
				<string>inicial do 2º nome</string>
				<string>2º nome</string>
				<string>2º nome</string>
				<string>2º nome</string>
			</array>
		</dict>
		<dict>
			<key>ABProperty</key>
			<string>Sobrenome</string>
			<key>FieldLabels</key>
			<array>
				<string>sobrenome</string>
				<string>sobrenome</string>
				<string>sobrenome</string>
				<string>sobrenome</string>
				<string>sobrenome</string>
				<string>sobrenome</string>
			</array>
		</dict>
		<dict>
			<key>ProxyABProperty</key>
			<string>FullNameComposite</string>
			<key>ABComputedProperty</key>
			<string>_realCompositeName</string>
			<key>ABProperty</key>
			<array>
				<string>Nome</string>
				<string>2º nome</string>
				<string>Sobrenome</string>
				<string>Sufixo</string>
			</array>
			<key>FieldLabels</key>
			<array>
				<string>nome completo</string>
				<string>nome completo</string>
			</array>
		</dict>
		<dict>
			<key>ProxyABProperty</key>
			<string>FullNameComposite</string>
			<key>ABComputedProperty</key>
			<string>_realCompositeName</string>
			<key>ABProperty</key>
			<array>
				<string>Nome</string>
				<string>2º nome</string>
				<string>Sobrenome</string>
				<string>Sufixo</string>
			</array>
			<key>FieldLabels</key>
			<array>
				<string>nome</string>
			</array>
			<key>SearchPass</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>ABProperty</key>
			<string>Aniversário</string>
			<key>FieldLabels</key>
			<array>
				<string>aniversário</string>
				<string>data de nascimento</string>
				<string>nascido(a)</string>
			</array>
		</dict>
		<dict>
			<key>ABProperty</key>
			<string>Cargo</string>
			<key>FieldLabels</key>
			<array>
				<string>cargo</string>
				<string>cargo</string>
			</array>
		</dict>
		<dict>
			<key>ABProperty</key>
			<string>E-mail</string>
			<key>FieldLabels</key>
			<array>
				<string>e-mail</string>
				<string>e-mail</string>
				<string>e-mail</string>
				<string>e-mail</string>
			</array>
		</dict>
		<dict>
			<key>ABProperty</key>
			<string>Endereço</string>
			<key>ABKey</key>
			<string>Rua</string>
			<key>FieldLabels</key>
			<array>
				<string>rua</string>
				<string>endereço</string>
				<string>endereço</string>
				<string>endereço</string>
				<string>enterAddressAddressLine</string>
				<string>endereço1</string>
				<string>endereço 1</string>
			</array>
		</dict>
		<dict>
			<key>ABProperty</key>
			<string>Endereço</string>
			<key>ABKey</key>
			<string>Rua</string>
			<key>FieldLabels</key>
			<array>
				<string>endereço</string>
			</array>
			<key>SearchPass</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>ABProperty</key>
			<string>Endereço</string>
			<key>ABKey</key>
			<string>Cidade</string>
			<key>FieldLabels</key>
			<array>
				<string>cidade</string>
			</array>
		</dict>
		<dict>
			<key>ABProperty</key>
			<string>Endereço</string>
			<key>ABKey</key>
			<string>Estado</string>
			<key>FieldLabels</key>
			<array>
				<string>estado</string>
			</array>
		</dict>
		<dict>
			<key>ABProperty</key>
			<string>Endereço</string>
			<key>ABKey</key>
			<string>CEP</string>
			<key>FieldLabels</key>
			<array>
				<string>cep</string>
				<string>cep</string>
				<string>cep</string>
				<string>código postal</string>
				<string>código postal</string>
			</array>
		</dict>
		<dict>
			<key>ABProperty</key>
			<string>Endereço</string>
			<key>ABKey</key>
			<string>País</string>
			<key>FieldLabels</key>
			<array>
				<string>país</string>
			</array>
		</dict>
		<dict>
			<key>ABProperty</key>
			<string>Telefone</string>
			<key>ABLabel</key>
			<string>_$!&lt;Casa&gt;!$_</string>
			<key>FieldLabels</key>
			<array>
				<string>telefone (casa)</string>
				<string>telefone (casa)</string>
				<string>telefone (noturno)</string>
				<string>telefone (noturno)</string>
				<string>código de área (local)</string>
				<string>código de área (local)</string>
				<string>código de área (local)</string>
				<string>código de área (noturno)</string>
				<string>código de área (noturno)</string>
				<string>código de área (noturno)</string>
			</array>
		</dict>
		<dict>
			<key>ABProperty</key>
			<string>Telefone</string>
			<key>ABLabel</key>
			<string>_$!&lt;Trabalho&gt;!$_</string>
			<key>FieldLabels</key>
			<array>
				<string>telefone (trabalho)</string>
				<string>telefone (trabalho)</string>
				<string>telefone (diurno)</string>
				<string>telefone (diurno)</string>
				<string>telefone (diurno)</string>
				<string>telefone (diurno)</string>
				<string>telefone (empresa)</string>
				<string>telefone (empresa)</string>
				<string>telefone (empresa)</string>
				<string>telefone (empresa)</string>
				<string>código de área (trabalho)</string>
				<string>código de área (trabalho)</string>
				<string>código de área (trabalho)</string>
				<string>código de área (diurno)</string>
				<string>código de área (diurno)</string>
				<string>código de área (diurno)</string>
				<string>código de área (empresa)</string>
				<string>código de área (empresa)</string>
				<string>código de área (empresa)</string>
				<string>código de área (empresa)</string>
				<string>código de área (empresa)</string>
				<string>código de área (empresa)</string>
			</array>
		</dict>
		<dict>
			<key>ABProperty</key>
			<string>Telefone</string>
			<key>ABLabel</key>
			<string>_$!&lt;Celular&gt;!$_</string>
			<key>FieldLabels</key>
			<array>
				<string>telefone (celular)</string>
				<string>telefone (celular)</string>
				<string>telefone (celular)</string>
				<string>telefone (celular)</string>
				<string>código de área (celular)</string>
				<string>código de área (celular)</string>
				<string>código de área (celular)</string>
				<string>código de área (celular)</string>
				<string>código de área (celular)</string>
				<string>código de área (celular)</string>
			</array>
		</dict>
		<dict>
			<key>ABProperty</key>
			<string>Telefone</string>
			<key>ABLabel</key>
			<string>_$!&lt;Pager&gt;!$_</string>
			<key>FieldLabels</key>
			<array>
				<string>telefone (pager)</string>
				<string>telefone (pager)</string>
				<string>código de área (pager)</string>
				<string>código de área (pager)</string>
				<string>código de área (pager)</string>
			</array>
		</dict>
		<dict>
			<key>ABProperty</key>
			<string>Telefone</string>
			<key>FieldLabels</key>
			<array>
				<string>código de área</string>
				<string>código de área</string>
			</array>
		</dict>
		<dict>
			<key>ABProperty</key>
			<string>Telefone</string>
			<key>FieldLabels</key>
			<array>
				<string>telefone</string>
				<string>número de telefone</string>
				<string>número de telefone</string>
				<string>telefone</string>
			</array>
			<key>SearchPass</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>ABProperty</key>
			<string>Telefone</string>
			<key>FieldLabels</key>
			<array>
				<string>fax</string>
			</array>
		</dict>
		<dict>
			<key>ABProperty</key>
			<string>Empresa</string>
			<key>FieldLabels</key>
			<array>
				<string>empresa</string>
				<string>empresa</string>
			</array>
		</dict>
	</array>
	<key>Synonyms</key>
	<dict>
		<key>Address</key>
		<dict>
			<key>Country</key>
			<array>
				<array>
					<string>EUA</string>
					<string>EUA</string>
					<string>Estados Unidos</string>
					<string>Estados Unidos da América</string>
				</array>
				<array>
					<string>Reino Unido</string>
					<string>Reino Unido</string>
				</array>
			</array>
			<key>State</key>
			<array>
				<array>
					<string>Alabama</string>
					<string>AL</string>
				</array>
				<array>
					<string>Alaska</string>
					<string>AK</string>
				</array>
				<array>
					<string>Alberta</string>
					<string>AB</string>
				</array>
				<array>
					<string>Arizona</string>
					<string>AZ</string>
				</array>
				<array>
					<string>Arkansas</string>
					<string>AR</string>
				</array>
				<array>
					<string>Colúmbia Britânica</string>
					<string>BC</string>
				</array>
				<array>
					<string>Califórnia</string>
					<string>CA</string>
				</array>
				<array>
					<string>Colorado</string>
					<string>CO</string>
				</array>
				<array>
					<string>Connecticut</string>
					<string>CT</string>
				</array>
				<array>
					<string>Delaware</string>
					<string>DE</string>
				</array>
				<array>
					<string>Distrito de Colúmbia</string>
					<string>DC</string>
				</array>
				<array>
					<string>Flórida</string>
					<string>FL</string>
				</array>
				<array>
					<string>Geórgia</string>
					<string>GA</string>
				</array>
				<array>
					<string>Havaí</string>
					<string>HI</string>
				</array>
				<array>
					<string>Idaho</string>
					<string>ID</string>
				</array>
				<array>
					<string>Illinois</string>
					<string>IL</string>
				</array>
				<array>
					<string>Indiana</string>
					<string>IN</string>
				</array>
				<array>
					<string>Iowa</string>
					<string>IA</string>
				</array>
				<array>
					<string>Kansas</string>
					<string>KS</string>
				</array>
				<array>
					<string>Kentucky</string>
					<string>KY</string>
				</array>
				<array>
					<string>Louisiana</string>
					<string>LA</string>
				</array>
				<array>
					<string>Maine</string>
					<string>ME</string>
				</array>
				<array>
					<string>Manitoba</string>
					<string>MB</string>
				</array>
				<array>
					<string>Maryland</string>
					<string>MD</string>
				</array>
				<array>
					<string>Massachusetts</string>
					<string>MA</string>
				</array>
				<array>
					<string>Michigan</string>
					<string>MI</string>
				</array>
				<array>
					<string>Minnesota</string>
					<string>MN</string>
				</array>
				<array>
					<string>Mississippi</string>
					<string>MS</string>
				</array>
				<array>
					<string>Missouri</string>
					<string>MO</string>
				</array>
				<array>
					<string>Montana</string>
					<string>MT</string>
				</array>
				<array>
					<string>Nebraska</string>
					<string>NE</string>
				</array>
				<array>
					<string>Nevada</string>
					<string>NV</string>
				</array>
				<array>
					<string>New Brunswick</string>
					<string>NB</string>
				</array>
				<array>
					<string>New Hampshire</string>
					<string>NH</string>
				</array>
				<array>
					<string>Nova Jersey</string>
					<string>NJ</string>
				</array>
				<array>
					<string>Novo México</string>
					<string>NM</string>
				</array>
				<array>
					<string>Nova York</string>
					<string>NY</string>
				</array>
				<array>
					<string>Terra Nova</string>
					<string>NF</string>
				</array>
				<array>
					<string>Carolina do Norte</string>
					<string>NC</string>
				</array>
				<array>
					<string>Dakota do Norte</string>
					<string>ND</string>
				</array>
				<array>
					<string>Territórios do Noroeste</string>
					<string>NT</string>
				</array>
				<array>
					<string>Nova Escócia</string>
					<string>NS</string>
				</array>
				<array>
					<string>Ohio</string>
					<string>OH</string>
				</array>
				<array>
					<string>Oklahoma</string>
					<string>OK</string>
				</array>
				<array>
					<string>Ontário</string>
					<string>ON</string>
				</array>
				<array>
					<string>Oregon</string>
					<string>OR</string>
				</array>
				<array>
					<string>Pensilvânia</string>
					<string>PA</string>
				</array>
				<array>
					<string>Ilha do Príncipe Eduardo</string>
					<string>PE</string>
				</array>
				<array>
					<string>Quebec</string>
					<string>PQ</string>
				</array>
				<array>
					<string>Rhode Island</string>
					<string>RI</string>
				</array>
				<array>
					<string>Saskatchewan</string>
					<string>SK</string>
				</array>
				<array>
					<string>Carolina do Sul</string>
					<string>SC</string>
				</array>
				<array>
					<string>Dakota do Sul</string>
					<string>SD</string>
				</array>
				<array>
					<string>Tennessee</string>
					<string>TN</string>
				</array>
				<array>
					<string>Texas</string>
					<string>TX</string>
				</array>
				<array>
					<string>Utah</string>
					<string>UT</string>
				</array>
				<array>
					<string>Vermont</string>
					<string>VT</string>
				</array>
				<array>
					<string>Virgínia</string>
					<string>VA</string>
				</array>
				<array>
					<string>Washington</string>
					<string>WA</string>
				</array>
				<array>
					<string>Virgínia Ocidental</string>
					<string>WV</string>
				</array>
				<array>
					<string>Wisconsin</string>
					<string>WI</string>
				</array>
				<array>
					<string>Wyoming</string>
					<string>WY</string>
				</array>
				<array>
					<string>Yukon</string>
					<string>YT</string>
				</array>
			</array>
		</dict>
	</dict>
</dict>
</plist>
