<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AskBeforeSubmittingInsecureForms</key>
	<true/>
	<key>AutoFillFromAddressBook</key>
	<true/>
	<key>AutoFillMiscellaneousForms</key>
	<true/>
	<key>AutoFillPasswords</key>
	<false/>
	<key>AutoOpenSafeDownloads</key>
	<true/>
	<key>BackForwardListSizeLimit</key>
	<integer>200</integer>
	<key>BackForwardMenuSizeLimit</key>
	<integer>30</integer>
	<key>BookmarkFeedsInMail</key>
	<false/>
	<key>BookmarkFeedsInSafari</key>
	<true/>
	<key>BookmarksCollectionsIncludeAddressBook</key>
	<true/>
	<key>BookmarksCollectionsIncludeRendezvous</key>
	<true/>
	<key>BookmarksFlowToListHeightRatio</key>
	<real>1</real>
	<key>BookmarksMenuIncludesAddressBook</key>
	<false/>
	<key>BookmarksMenuIncludesBookmarksToolbar</key>
	<true/>
	<key>BookmarksMenuIncludesRendezvous</key>
	<false/>
	<key>BookmarksSearchFieldScope</key>
	<integer>1</integer>
	<key>CommandClickMakesTabs</key>
	<true/>
	<key>ConfirmClosingMultiplePages</key>
	<true/>
	<key>DebugCachePageText</key>
	<true/>
	<key>DebugConfirmTossingUnsubmittedFormText</key>
	<true/>
	<key>DebugUseLightToolbarInFullScreen</key>
	<true/>
	<key>DefaultDatabaseQuota</key>
	<integer>5242880</integer>
	<key>ExtensionsEnabled</key>
	<true/>
	<key>FindOnPageMatchesWordStartsOnly</key>
	<true/>
	<key>HeaderFooterFontSize</key>
	<integer>7</integer>
	<key>HistoryAgeInDaysLimit</key>
	<integer>31</integer>
	<key>HistoryDaysMenuItemsLimit</key>
	<integer>7</integer>
	<key>InputFieldWidthRatio</key>
	<string>2</string>
	<key>LastMinimumFontSize</key>
	<integer>9</integer>
	<key>MaxTabsToOpenWithoutConfirmation</key>
	<integer>50</integer>
	<key>NSAllowSimpleArrowItemExpandDefault</key>
	<true/>
	<key>NSGrowBoxSurfaceEnabled</key>
	<true/>
	<key>PrintHeadersAndFooters</key>
	<true/>
	<key>RecentHistoryMenuItemsLimit</key>
	<integer>18</integer>
	<key>ResetSafariOptionsMask</key>
	<integer>-1</integer>
	<key>RSSBookmarksInBarAreSubscribed</key>
	<true/>
	<key>RunawayJavaScriptTimerEnabled</key>
	<true/>
	<key>SavePanelFileFormat</key>
	<integer>1</integer>
	<key>ShowFavoritesBar</key>
	<true/>
	<key>ShowLocationBar</key>
	<true/>
	<key>ShowStatusBar</key>
	<false/>
	<key>SidebarSplitViewDividerPosition</key>
	<integer>300</integer>
	<key>SnippetEditorAutoUpdate</key>
	<true/>
	<key>SnippetEditorDividerRatio</key>
	<real>0.4</real>
	<key>StartFlashAutomatically</key>
	<true/>
	<key>TopSitesGridArrangement</key>
	<integer>1</integer>
	<key>URLMenuItemTitleMaxWidth</key>
	<integer>400</integer>
	<key>WarnAboutFraudulentWebsites</key>
	<true/>
	<key>WebKitCanvasUsesAcceleratedDrawing</key>
	<true/>
	<key>com.apple.Safari.ContentPageGroupIdentifier.WebKit2CanvasUsesAcceleratedDrawing</key>
	<true/>
	<key>WebKitDNSPrefetchingEnabled</key>
	<true/>
	<key>com.apple.Safari.ContentPageGroupIdentifier.WebKit2DNSPrefetchingEnabled</key>
	<true/>
	<key>WebKitEditableLinkBehavior</key>
	<integer>4</integer>
	<key>com.apple.Safari.ContentPageGroupIdentifier.WebKit2EditableLinkBehavior</key>
	<integer>4</integer>
	<key>WebKitFullScreenEnabled</key>
	<true/>
	<key>com.apple.Safari.ContentPageGroupIdentifier.WebKit2FullScreenEnabled</key>
	<true/>
	<key>WebKitJavaScriptCanOpenWindowsAutomatically</key>
	<false/>
	<key>com.apple.Safari.ContentPageGroupIdentifier.WebKit2JavaScriptCanOpenWindowsAutomatically</key>
	<false/>
	<key>WebKitOfflineWebApplicationCacheEnabled</key>
	<true/>
	<key>com.apple.Safari.ContentPageGroupIdentifier.WebKit2OfflineWebApplicationCacheEnabled</key>
	<true/>
	<key>WebKitTextAreasAreResizable</key>
	<true/>
	<key>com.apple.Safari.ContentPageGroupIdentifier.WebKit2TextAreasAreResizable</key>
	<true/>
	<key>WebKitUseSiteSpecificSpoofing</key>
	<true/>
	<key>com.apple.Safari.ContentPageGroupIdentifier.WebKit2NeedsSiteSpecificQuirks</key>
	<true/>
	<key>WebContinuousSpellCheckingEnabled</key>
	<true/>
	<key>WebIconDatabaseEnabled</key>
	<true/>
	<key>WebKitCacheModelPreferenceKey</key>
	<integer>2</integer>
	<key>WebKitShrinksStandaloneImagesToFit</key>
	<true/>
	<key>WebKitZoomsTextOnly</key>
	<false/>
</dict>
</plist>
