@import "Safari.css";

body
{
  background-color: ThreeDFace;
  color: WindowText;
  margin: 2em;
}

p
{
  font-size: 8pt;
}

.help-button
{
  position: absolute;
  bottom: 15px;
  width: 23px;
  height: 23px;
  background-image: url(HelpButton.png);
  left: 20px;
}

.help-button:active
{
    background-image: url(HelpButtonPressed.png);
}

input[type="checkbox"], input[type="radio"]
{
  margin-right: 4px;
  margin-top: 0;
}

input[disabled="true"] + label, label.disabled
{
  color : #888;
}

.action-group
{
  position: absolute;
  bottom: 15px;
  right: 15px;
}

.contents-group
{
  margin-bottom: 50px;
}

.icon
{
  position: absolute;
  width: 64px;
  height: 64px;
  left: 20px;
}

textarea
{
  resize: none;
}

h1
{
  font-size: inherit;
  font-weight: inherit;
}
