.extension-settings {
    width: 100%;
    border-spacing: 0;
}

.extension-settings .hidden {
    display: none;
}

.extension-settings .error-message {
    font-size: 10px;
    color: rgb(178, 16, 11);
    padding-top: 3px;
}

.extension-settings .error-message::before {
    display: inline-block;
    content: "";
    background-image: url(ErrorSmall.png);
    background-size: 10px 10px;
    width: 10px;
    height: 10px;
    vertical-align: middle;
    margin-right: 3px;
    vertical-align: -1px;
}

.extension-settings tr > * {
    padding: 5px 3px;
}

.extension-settings th {
    width: 125px;
    white-space: nowrap;
    vertical-align: top;
    line-height: 26px;
}

.extension-settings tr.group > th {
    padding-left: 64px;
    text-align: left;
    padding-top: 18px;
    padding-bottom: 0;
    color: rgb(64, 64, 64);
    font-size: 13px;
    font-weight: bold;
    line-height: normal;
}

.extension-settings > tr:first-child > * {
    padding-top: 0 !important;
}

.extension-settings hr {
    height: 1px;
    background-color: rgb(214, 214, 214);
    border: none;
}

.extension-settings tr.separator.empty hr {
    visibility: hidden;
    height: 0;
}

.extension-settings tr.separator.empty > * {
    padding: 3px;
}

.extension-settings input[type="range"], .extension-settings select {
    margin: 0;
    vertical-align: middle;
}

.extension-settings input {
    margin-left: 0;
}

.extension-settings select, .extension-settings input {
    min-width: 60px;
}

body.platform-mac .extension-settings input[type="text"], body.platform-mac .extension-settings input[type="password"], body.platform-mac .extension-settings select {
    font-size: 13px;
}

body.platform-mac .extension-settings select[size="1"] {
    font-size: 16px;
}

.extension-settings select, .extension-settings input[type="text"], .extension-settings input[type="password"], .extension-settings input[type="range"] {
    width: 100%;
}

.extension-settings tr.medium select, .extension-settings tr.medium input {
    width: 50%;
}

.extension-settings tr.small select, .extension-settings tr.small input {
    width: 15%;
}

.extension-settings tr:not(.group) > th {
    text-align: right;
    font-weight: normal;
}

.extension-settings tr:not(.group) > th:not(:empty):after {
    content: ":";
}

.extension-settings tr.check-box:not(.anchored), .extension-settings tr.button:not(.anchored) {
    text-align: center;
}

.extension-settings tr.table > th {
    line-height: 22px;
}

.extension-settings tr.table .table-container {
    border: 1px solid rgb(190, 190, 190);
    border-top-color: rgb(142, 142, 142);
    max-height: 600px;
    overflow-y: auto;
    overflow-x: hidden;
}

.extension-settings tr.table.unlimited .table-container {
    max-height: none;
}

.extension-settings tr.table table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

.extension-settings tr.table tr th {
    width: 80px;
    line-height: 23px;
}

.extension-settings tr.table tr.empty td {
    font-size: 14px !important;
    color: rgb(214, 214, 214);
    font-weight: bold;
    text-align: center;
}

.extension-settings tr.table tbody {
    background-color: white;
}

.extension-settings tr.table tbody:nth-child(even):not(.creation) {
    background-color: rgb(237, 243, 254);
}

.extension-settings tr.table tbody:not(:first-child) {
    border-top: 1px solid rgb(190, 190, 190);
}

.extension-settings tr.table tbody:not(:last-child) {
    border-bottom: 1px solid rgb(190, 190, 190);
}

.extension-settings tr.table table tr > * {
    padding: 2px;
}

.extension-settings tr.table tr > :first-child {
    padding-left: 6px;
}

.extension-settings tr.table tr > :last-child {
    padding-right: 6px;
}

.extension-settings tr.table tr:first-of-type > * {
    padding-top: 4px;
}

.extension-settings tr.table tr:last-of-type > * {
    padding-bottom: 4px;
}

.extension-settings tr.table .header {
    font-weight: bold;
    color: rgb(64, 64, 64);
}

body.platform-mac .extension-settings tr.table > td *, body.platform-mac .extension-settings tr.table input {
    font-size: 11px;
}

body.platform-mac .extension-settings tr.table select[size="1"] {
    font-size: 13px;
}

.extension-settings td.delete {
    width: 23px;
    text-align: right;
}

.extension-settings td.delete button.delete {
    float: none;
    margin-top: 2px;
}

.extension-settings button.delete {
    -webkit-appearance: none;
    border: none;
    width: 14px;
    height: 14px;
    background-color: transparent;
    background-image: url(ExtensionClose.png);
    float: right;
}

.extension-settings button.delete:hover, .extension-settings button.delete:focus {
    outline: none;
    background-image: url(ExtensionCloseHovered.png);
}

.extension-settings button.delete:active {
    background-image: url(ExtensionClosePressed.png);
}

@media (-webkit-min-device-pixel-ratio:2) {
    .extension-settings .error-message::before {
        background-image: url(ErrorSmall@2x.png);
    }
}
