/* Cross Platform */

/* FIXME: These style rules should reside in cross-platform ExtensionBar.css <rdar://problem/8486809> */

html {
    zoom: reset;
}

body {
    margin: 0;
    padding: 7px;
    height: 30px;
    color: rgba(0, 0, 0, 0.8);
    font: small-caption;
    text-shadow: rgba(255, 255, 255, 0.4) 0 1px 0;
    cursor: default;
    white-space: nowrap;
    overflow: hidden !important;
    -webkit-user-select: none;
    -webkit-box-sizing: border-box;
}

a, a:visited {
    color: rgba(0, 0, 96, 0.8);
}

a:hover {
    color: rgba(0, 0, 128, 0.8);
}

/* Windows Specific */

button, select, input {
    margin-top: -3px;
}
