body
{
  margin: 10px 0 40px 0;
}

button
{
  padding-left: 1.3em;
  padding-right: 1.3em;
}

table
{
	margin-left: auto;
	margin-right: auto;
}

th
{
  font-weight: normal;
  white-space: nowrap;
  vertical-align: baseline;
  text-align: right;
}

td
{
  margin-left: 0;
  margin-bottom: 1em;
}

td > *
{
  margin: .3em;
}

td p
{
  font-size: 8pt;
}

td label, p label
{
  display: block;
  margin: 0;
}

dt
{
  float: left;
  clear: both;
  text-align: right;
  margin-right: .3em;
}

dd
{
  margin-left: 0;
  margin-bottom: 1em;
  float: left;
}

dd > *
{
  margin: .3em;
}

dd p
{
  font-size: 8pt;
}

dd label, p label
{
  display: block;
  margin: 0;
}

.help-button
{
  left: auto;
  right: 20px;
}
