@import "PreferencesView.css";

body.platform-windows
{
    min-height: 188px;
}

body.platform-mac
{
    height: 178px;
}

body.platform-mac * table
{
    font-size: 13px;
}

body.platform-windows * table
{
    font-size: 12px;
}

body.platform-mac * label
{
    margin-bottom: -3px;
}

body.platform-mac * input[type="radio"]
{
    width: 16px;
    height: 16px;
}

label
{
    display: block;
    margin: 0;
}

#content
{
    position: relative;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 10px 20px 0 20px;
}

body.platform-windows #content
{
    margin-top: -12px;
}

body.platform-mac #content
{
    margin-top: -6px;
}

table
{
    margin-left: auto;
    margin-right: auto;
}

th
{
    font-weight: normal;
    white-space: nowrap;
    vertical-align: baseline;
    text-align: right;
    width: 50%;
    line-height: 1.7em;
}

td
{
    margin-left: 0;
    margin-bottom: 1em;
    width: 50%;
    line-height: 1.7em;
    margin-right: 20px;
}

td, th
{
    padding-bottom: 13px;
}

.description
{
    line-height: 1em;
    font-size: 10px;
    padding-left: 5px;
}

body.platform-windows .description
{
    line-height: 1.7em;
    font-size: 11px;
}

.showDetails
{
    font-size: 11px;
    padding-left: 5px;
    padding-right: 5px;
    margin: 0 2px 0 4px;
}

#cookiesAndOtherWebsiteData
{
    line-height: 2.1em;
}

body.platform-windows * button
{
    padding: 2px 15px;
}

#removeAllWebsiteData
{
    margin: 0.3em;
}

body.platform-mac #removeAllWebsiteData
{
    padding-left: 0.9em;
    padding-right: 0.9em;
    font-size: 13px;
}

body.platform-windows #removeAllWebsiteData
{
    font-size: 12px;
}

body.platform-windows input[type="radio"]
{
    margin-right: 4px;
    margin-top: 0;
}

input[disabled] + span
{
    opacity: 0.5;
}

#help
{
    position: absolute;
    right: 15px;
    bottom: 10px;
    left: auto;
}
