<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Children</key>
	<array>
		<dict>
			<key>Children</key>
			<array>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.apple.com/pt/</string>
						<key>title</key>
						<string>Apple</string>
					</dict>
					<key>URLString</key>
					<string>http://www.apple.com/pt/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://maps.google.pt/</string>
						<key>title</key>
						<string>Google Maps</string>
					</dict>
					<key>URLString</key>
					<string>http://maps.google.pt/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.youtube.com/</string>
						<key>title</key>
						<string>YouTube</string>
					</dict>
					<key>URLString</key>
					<string>http://www.youtube.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://pt.wikipedia.org/</string>
						<key>title</key>
						<string>Wikipédia</string>
					</dict>
					<key>URLString</key>
					<string>http://pt.wikipedia.org/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>Children</key>
					<array>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.rtp.pt/</string>
								<key>title</key>
								<string>RTP</string>
							</dict>
							<key>URLString</key>
							<string>http://www.rtp.pt/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.sic.pt/</string>
								<key>title</key>
								<string>SIC</string>
							</dict>
							<key>URLString</key>
							<string>http://www.sic.pt/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.tvi.pt/</string>
								<key>title</key>
								<string>TVI</string>
							</dict>
							<key>URLString</key>
							<string>http://www.tvi.pt/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.publico.pt</string>
								<key>title</key>
								<string>Público</string>
							</dict>
							<key>URLString</key>
							<string>http://www.publico.pt</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.dn.pt/</string>
								<key>title</key>
								<string>Diário de Notícias</string>
							</dict>
							<key>URLString</key>
							<string>http://www.dn.pt/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.tsf.pt/</string>
								<key>title</key>
								<string>TSF</string>
							</dict>
							<key>URLString</key>
							<string>http://www.tsf.pt/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://news.google.pt/</string>
								<key>title</key>
								<string>Google News Portugal</string>
							</dict>
							<key>URLString</key>
							<string>http://news.google.pt/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.abola.pt/</string>
								<key>title</key>
								<string>A Bola</string>
							</dict>
							<key>URLString</key>
							<string>http://www.abola.pt/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.record.pt/</string>
								<key>title</key>
								<string>Record</string>
							</dict>
							<key>URLString</key>
							<string>http://www.record.pt/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.ojogo.pt/</string>
								<key>title</key>
								<string>O Jogo</string>
							</dict>
							<key>URLString</key>
							<string>http://www.ojogo.pt/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
						</dict>
					</array>
					<key>Title</key>
					<string>Notícias</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeList</string>
				</dict>
				<dict>
					<key>Children</key>
					<array>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.disney.pt/</string>
								<key>title</key>
								<string>Disney</string>
							</dict>
							<key>URLString</key>
							<string>http://www.disney.pt/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.meteo.pt</string>
								<key>title</key>
								<string>Meteorologia</string>
							</dict>
							<key>URLString</key>
							<string>http://www.meteo.pt</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.portaldocidadao.pt</string>
								<key>title</key>
								<string>Portal do Cidadão</string>
							</dict>
							<key>URLString</key>
							<string>http://www.portaldocidadao.pt</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.brincar.pt/</string>
								<key>title</key>
								<string>Brincar</string>
							</dict>
							<key>URLString</key>
							<string>http://www.brincar.pt/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.pai.pt/</string>
								<key>title</key>
								<string>Páginas Amarelas</string>
							</dict>
							<key>URLString</key>
							<string>http://www.pai.pt/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.sapo.pt/</string>
								<key>title</key>
								<string>Sapo</string>
							</dict>
							<key>URLString</key>
							<string>http://www.sapo.pt/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.e-financas.gov.pt</string>
								<key>title</key>
								<string>Ministério das Finanças</string>
							</dict>
							<key>URLString</key>
							<string>http://www.e-financas.gov.pt</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.simplex.pt/</string>
								<key>title</key>
								<string>Simplex</string>
							</dict>
							<key>URLString</key>
							<string>http://www.simplex.pt/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.turismodeportugal.pt</string>
								<key>title</key>
								<string>Turismo de Portugal</string>
							</dict>
							<key>URLString</key>
							<string>http://www.turismodeportugal.pt</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
						</dict>
					</array>
					<key>Title</key>
					<string>Popular</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeList</string>
				</dict>
			</array>
			<key>Title</key>
			<string>Barra de marcadores</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeList</string>
		</dict>
	</array>
	<key>WebBookmarkFileVersion</key>
	<integer>1</integer>
	<key>WebBookmarkType</key>
	<string>WebBookmarkTypeList</string>
</dict>
</plist>
