<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Mappings</key>
	<array>
		<dict>
			<key>ABProperty</key>
			<string>First</string>
			<key>FieldLabels</key>
			<array>
				<string>first</string>
				<string>first name</string>
				<string>fname</string>
				<string>f name</string>
				<string>firstname</string>
				<string>given name</string>
				<string>名</string>
				<string>名字</string>
			</array>
		</dict>
		<dict>
			<key>ABProperty</key>
			<string>Middle</string>
			<key>FieldLabels</key>
			<array>
				<string>middle initial</string>
				<string>middleinitial</string>
				<string>middle name</string>
				<string>middlename</string>
				<string>middle</string>
				<string>中间名</string>
			</array>
		</dict>
		<dict>
			<key>ABProperty</key>
			<string>Last</string>
			<key>FieldLabels</key>
			<array>
				<string>last</string>
				<string>last name</string>
				<string>lname</string>
				<string>l name</string>
				<string>lastname</string>
				<string>surname</string>
				<string>姓</string>
				<string>姓氏</string>
			</array>
		</dict>
		<dict>
			<key>ABComputedProperty</key>
			<string>_realCompositeName</string>
			<key>ABProperty</key>
			<array>
				<string>First</string>
				<string>Middle</string>
				<string>Last</string>
				<string>Suffix</string>
			</array>
			<key>FieldLabels</key>
			<array>
				<string>fullname</string>
				<string>full name</string>
				<string>全名</string>
			</array>
			<key>ProxyABProperty</key>
			<string>FullNameComposite</string>
		</dict>
		<dict>
			<key>ABComputedProperty</key>
			<string>_realCompositeName</string>
			<key>ABProperty</key>
			<array>
				<string>First</string>
				<string>Middle</string>
				<string>Last</string>
				<string>Suffix</string>
			</array>
			<key>FieldLabels</key>
			<array>
				<string>name</string>
				<string>姓名</string>
			</array>
			<key>ProxyABProperty</key>
			<string>FullNameComposite</string>
			<key>SearchPass</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>ABProperty</key>
			<string>Birthday</string>
			<key>FieldLabels</key>
			<array>
				<string>birthday</string>
				<string>date of birth</string>
				<string>born</string>
				<string>生日</string>
				<string>出生日期</string>
				<string>出生</string>
			</array>
		</dict>
		<dict>
			<key>ABProperty</key>
			<string>JobTitle</string>
			<key>FieldLabels</key>
			<array>
				<string>job title</string>
				<string>jobtitle</string>
				<string>职位</string>
				<string>工作职位</string>
			</array>
		</dict>
		<dict>
			<key>ABProperty</key>
			<string>Email</string>
			<key>FieldLabels</key>
			<array>
				<string>email</string>
				<string>emailAddr</string>
				<string>emailAddress</string>
				<string>e-mail</string>
				<string>电子邮件</string>
				<string>电子邮件地址</string>
			</array>
		</dict>
		<dict>
			<key>ABKey</key>
			<string>Street</string>
			<key>ABProperty</key>
			<string>Address</string>
			<key>FieldLabels</key>
			<array>
				<string>street</string>
				<string>street address</string>
				<string>streetaddress</string>
				<string>addrstreet</string>
				<string>enterAddressAddressLine</string>
				<string>address1</string>
				<string>address 1</string>
				<string>街道</string>
				<string>街道地址</string>
				<string>输入街道地址行</string>
				<string>地址 1</string>
			</array>
		</dict>
		<dict>
			<key>ABKey</key>
			<string>Street</string>
			<key>ABProperty</key>
			<string>Address</string>
			<key>FieldLabels</key>
			<array>
				<string>address</string>
				<string>地址</string>
			</array>
			<key>SearchPass</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>ABKey</key>
			<string>City</string>
			<key>ABProperty</key>
			<string>Address</string>
			<key>FieldLabels</key>
			<array>
				<string>city</string>
				<string>城市</string>
			</array>
		</dict>
		<dict>
			<key>ABKey</key>
			<string>State</string>
			<key>ABProperty</key>
			<string>Address</string>
			<key>FieldLabels</key>
			<array>
				<string>state</string>
				<string>州/省</string>
				<string>州</string>
				<string>省</string>
			</array>
		</dict>
		<dict>
			<key>ABKey</key>
			<string>ZIP</string>
			<key>ABProperty</key>
			<string>Address</string>
			<key>FieldLabels</key>
			<array>
				<string>zip</string>
				<string>zipcode</string>
				<string>zip code</string>
				<string>postalcode</string>
				<string>postal code</string>
				<string>邮政编码</string>
				<string>邮编</string>
			</array>
		</dict>
		<dict>
			<key>ABKey</key>
			<string>Country</string>
			<key>ABProperty</key>
			<string>Address</string>
			<key>FieldLabels</key>
			<array>
				<string>country</string>
				<string>国家/地区</string>
				<string>国家</string>
				<string>地区</string>
			</array>
		</dict>
		<dict>
			<key>ABLabel</key>
			<string>_$!&lt;Home&gt;!$_</string>
			<key>ABProperty</key>
			<string>Phone</string>
			<key>FieldLabels</key>
			<array>
				<string>homephone</string>
				<string>home phone</string>
				<string>eveningphone</string>
				<string>evening phone</string>
				<string>home area code</string>
				<string>home areacode</string>
				<string>homeareacode</string>
				<string>evening area code</string>
				<string>evening areacode</string>
				<string>eveningareacode</string>
				<string>家庭电话</string>
				<string>夜间电话</string>
				<string>家庭电话区号</string>
				<string>夜晚电话区号</string>
			</array>
		</dict>
		<dict>
			<key>ABLabel</key>
			<string>_$!&lt;Work&gt;!$_</string>
			<key>ABProperty</key>
			<string>Phone</string>
			<key>FieldLabels</key>
			<array>
				<string>workphone</string>
				<string>work phone</string>
				<string>dayphone</string>
				<string>day phone</string>
				<string>daytime phone</string>
				<string>daytime telephone</string>
				<string>companyphone</string>
				<string>company phone</string>
				<string>businessphone</string>
				<string>business phone</string>
				<string>work area code</string>
				<string>work areacode</string>
				<string>workareacode</string>
				<string>day area code</string>
				<string>day areacode</string>
				<string>dayareacode</string>
				<string>company area code</string>
				<string>company areacode</string>
				<string>companyareacode</string>
				<string>business area code</string>
				<string>business areacode</string>
				<string>businessareacode</string>
				<string>工作电话</string>
				<string>白天电话</string>
				<string>公司电话</string>
				<string>工作电话区号</string>
				<string>白天电话区号</string>
				<string>公司电话区号</string>
			</array>
		</dict>
		<dict>
			<key>ABLabel</key>
			<string>_$!&lt;Mobile&gt;!$_</string>
			<key>ABProperty</key>
			<string>Phone</string>
			<key>FieldLabels</key>
			<array>
				<string>mobilephone</string>
				<string>mobile phone</string>
				<string>cellphone</string>
				<string>cell phone</string>
				<string>mobile area code</string>
				<string>mobile areacode</string>
				<string>mobileareacode</string>
				<string>cell area code</string>
				<string>cell areacode</string>
				<string>cellareacode</string>
				<string>移动电话</string>
				<string>手机</string>
				<string>移动电话区号</string>
				<string>手机区号</string>
			</array>
		</dict>
		<dict>
			<key>ABLabel</key>
			<string>_$!&lt;Pager&gt;!$_</string>
			<key>ABProperty</key>
			<string>Phone</string>
			<key>FieldLabels</key>
			<array>
				<string>pagerphone</string>
				<string>pager phone</string>
				<string>pager area code</string>
				<string>pager areacode</string>
				<string>pagerareacode</string>
				<string>传呼机</string>
				<string>传呼机区号</string>
			</array>
		</dict>
		<dict>
			<key>ABProperty</key>
			<string>Phone</string>
			<key>FieldLabels</key>
			<array>
				<string>area code</string>
				<string>areacode</string>
				<string>区号</string>
			</array>
		</dict>
		<dict>
			<key>ABProperty</key>
			<string>Phone</string>
			<key>FieldLabels</key>
			<array>
				<string>phone</string>
				<string>phonenumber</string>
				<string>phone number</string>
				<string>telephone</string>
				<string>电话</string>
				<string>电话号码</string>
			</array>
			<key>SearchPass</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>ABProperty</key>
			<string>Phone</string>
			<key>FieldLabels</key>
			<array>
				<string>fax</string>
				<string>传真</string>
			</array>
		</dict>
		<dict>
			<key>ABProperty</key>
			<string>Organization</string>
			<key>FieldLabels</key>
			<array>
				<string>organization</string>
				<string>company</string>
				<string>机构/组织</string>
				<string>机构</string>
				<string>组织</string>
				<string>公司</string>
			</array>
		</dict>
	</array>
	<key>Synonyms</key>
	<dict>
		<key>Address</key>
		<dict>
			<key>Country</key>
			<array>
				<array>
					<string>USA</string>
					<string>US</string>
					<string>United States</string>
					<string>United States of America</string>
					<string>美国</string>
				</array>
				<array>
					<string>UK</string>
					<string>United Kingdom</string>
					<string>英国</string>
				</array>
			</array>
			<key>State</key>
			<array>
				<array>
					<string>Alabama</string>
					<string>AL</string>
				</array>
				<array>
					<string>Alaska</string>
					<string>AK</string>
				</array>
				<array>
					<string>Alberta</string>
					<string>AB</string>
				</array>
				<array>
					<string>Arizona</string>
					<string>AZ</string>
				</array>
				<array>
					<string>Arkansas</string>
					<string>AR</string>
				</array>
				<array>
					<string>British Columbia</string>
					<string>BC</string>
				</array>
				<array>
					<string>California</string>
					<string>CA</string>
				</array>
				<array>
					<string>Colorado</string>
					<string>CO</string>
				</array>
				<array>
					<string>Connecticut</string>
					<string>CT</string>
				</array>
				<array>
					<string>Delaware</string>
					<string>DE</string>
				</array>
				<array>
					<string>District of Columbia</string>
					<string>DC</string>
				</array>
				<array>
					<string>Florida</string>
					<string>FL</string>
				</array>
				<array>
					<string>Georgia</string>
					<string>GA</string>
				</array>
				<array>
					<string>Hawaii</string>
					<string>HI</string>
				</array>
				<array>
					<string>Idaho</string>
					<string>ID</string>
				</array>
				<array>
					<string>Illinois</string>
					<string>IL</string>
				</array>
				<array>
					<string>Indiana</string>
					<string>IN</string>
				</array>
				<array>
					<string>Iowa</string>
					<string>IA</string>
				</array>
				<array>
					<string>Kansas</string>
					<string>KS</string>
				</array>
				<array>
					<string>Kentucky</string>
					<string>KY</string>
				</array>
				<array>
					<string>Louisiana</string>
					<string>LA</string>
				</array>
				<array>
					<string>Maine</string>
					<string>ME</string>
				</array>
				<array>
					<string>Manitoba</string>
					<string>MB</string>
				</array>
				<array>
					<string>Maryland</string>
					<string>MD</string>
				</array>
				<array>
					<string>Massachusetts</string>
					<string>MA</string>
				</array>
				<array>
					<string>Michigan</string>
					<string>MI</string>
				</array>
				<array>
					<string>Minnesota</string>
					<string>MN</string>
				</array>
				<array>
					<string>Mississippi</string>
					<string>MS</string>
				</array>
				<array>
					<string>Missouri</string>
					<string>MO</string>
				</array>
				<array>
					<string>Montana</string>
					<string>MT</string>
				</array>
				<array>
					<string>Nebraska</string>
					<string>NE</string>
				</array>
				<array>
					<string>Nevada</string>
					<string>NV</string>
				</array>
				<array>
					<string>New Brunswick</string>
					<string>NB</string>
				</array>
				<array>
					<string>New Hampshire</string>
					<string>NH</string>
				</array>
				<array>
					<string>New Jersey</string>
					<string>NJ</string>
				</array>
				<array>
					<string>New Mexico</string>
					<string>NM</string>
				</array>
				<array>
					<string>New York</string>
					<string>NY</string>
				</array>
				<array>
					<string>Newfoundland</string>
					<string>NF</string>
				</array>
				<array>
					<string>North Carolina</string>
					<string>NC</string>
				</array>
				<array>
					<string>North Dakota</string>
					<string>ND</string>
				</array>
				<array>
					<string>Northwest Territories</string>
					<string>NT</string>
				</array>
				<array>
					<string>Nova Scotia</string>
					<string>NS</string>
				</array>
				<array>
					<string>Ohio</string>
					<string>OH</string>
				</array>
				<array>
					<string>Oklahoma</string>
					<string>OK</string>
				</array>
				<array>
					<string>Ontario</string>
					<string>ON</string>
				</array>
				<array>
					<string>Oregon</string>
					<string>OR</string>
				</array>
				<array>
					<string>Pennsylvania</string>
					<string>PA</string>
				</array>
				<array>
					<string>Prince Edward Island</string>
					<string>PE</string>
				</array>
				<array>
					<string>Quebec</string>
					<string>PQ</string>
				</array>
				<array>
					<string>Rhode Island</string>
					<string>RI</string>
				</array>
				<array>
					<string>Saskatchewan</string>
					<string>SK</string>
				</array>
				<array>
					<string>South Carolina</string>
					<string>SC</string>
				</array>
				<array>
					<string>South Dakota</string>
					<string>SD</string>
				</array>
				<array>
					<string>Tennessee</string>
					<string>TN</string>
				</array>
				<array>
					<string>Texas</string>
					<string>TX</string>
				</array>
				<array>
					<string>Utah</string>
					<string>UT</string>
				</array>
				<array>
					<string>Vermont</string>
					<string>VT</string>
				</array>
				<array>
					<string>Virginia</string>
					<string>VA</string>
				</array>
				<array>
					<string>Washington</string>
					<string>WA</string>
				</array>
				<array>
					<string>West Virginia</string>
					<string>WV</string>
				</array>
				<array>
					<string>Wisconsin</string>
					<string>WI</string>
				</array>
				<array>
					<string>Wyoming</string>
					<string>WY</string>
				</array>
				<array>
					<string>Yukon</string>
					<string>YT</string>
				</array>
			</array>
		</dict>
	</dict>
</dict>
</plist>
