<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Children</key>
	<array>
		<dict>
			<key>Children</key>
			<array>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.apple.com.cn/</string>
						<key>title</key>
						<string>Apple中国</string>
					</dict>
					<key>URLString</key>
					<string>http://www.apple.com.cn/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://cn.yahoo.com/</string>
						<key>title</key>
						<string>中国雅虎</string>
					</dict>
					<key>URLString</key>
					<string>http://cn.yahoo.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://zh.wikipedia.org/</string>
						<key>title</key>
						<string>维基百科</string>
					</dict>
					<key>URLString</key>
					<string>http://zh.wikipedia.org/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>Children</key>
					<array>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.chinanews.com.cn/</string>
								<key>title</key>
								<string>中国新闻网</string>
							</dict>
							<key>URLString</key>
							<string>http://www.chinanews.com.cn/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://news.sina.com.cn/</string>
								<key>title</key>
								<string>新浪网新闻中心</string>
							</dict>
							<key>URLString</key>
							<string>http://news.sina.com.cn/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://news.sohu.com/</string>
								<key>title</key>
								<string>搜狐网站新闻中心</string>
							</dict>
							<key>URLString</key>
							<string>http://news.sohu.com/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://news.163.com/</string>
								<key>title</key>
								<string>网易新闻频道</string>
							</dict>
							<key>URLString</key>
							<string>http://news.163.com/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.qq.com/</string>
								<key>title</key>
								<string>腾讯网</string>
							</dict>
							<key>URLString</key>
							<string>http://www.qq.com/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://news.baidu.com/</string>
								<key>title</key>
								<string>百度新闻</string>
							</dict>
							<key>URLString</key>
							<string>http://news.baidu.com/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://cn.news.yahoo.com/</string>
								<key>title</key>
								<string>雅虎资讯</string>
							</dict>
							<key>URLString</key>
							<string>http://cn.news.yahoo.com/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
						</dict>
					</array>
					<key>Title</key>
					<string>新闻</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeList</string>
				</dict>
				<dict>
					<key>Children</key>
					<array>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.baidu.com/</string>
								<key>title</key>
								<string>百度</string>
							</dict>
							<key>URLString</key>
							<string>http://www.baidu.com/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.amazon.cn/</string>
								<key>title</key>
								<string>Amazon</string>
							</dict>
							<key>URLString</key>
							<string>http://www.amazon.cn/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.flickr.com/</string>
								<key>title</key>
								<string>Flickr</string>
							</dict>
							<key>URLString</key>
							<string>http://www.flickr.com/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://koubei.com/</string>
								<key>title</key>
								<string>口碑网</string>
							</dict>
							<key>URLString</key>
							<string>http://koubei.com/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.ctrip.com/</string>
								<key>title</key>
								<string>携程旅行网</string>
							</dict>
							<key>URLString</key>
							<string>http://www.ctrip.com/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>https://www.alipay.com/</string>
								<key>title</key>
								<string>支付宝</string>
							</dict>
							<key>URLString</key>
							<string>https://www.alipay.com/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.renren.com/</string>
								<key>title</key>
								<string>人人网</string>
							</dict>
							<key>URLString</key>
							<string>http://www.renren.com/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.taobao.com</string>
								<key>title</key>
								<string>淘宝网</string>
							</dict>
							<key>URLString</key>
							<string>http://www.taobao.com</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.ganji.com/</string>
								<key>title</key>
								<string>赶集网</string>
							</dict>
							<key>URLString</key>
							<string>http://www.ganji.com/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.qidian.com/</string>
								<key>title</key>
								<string>起点中文网</string>
							</dict>
							<key>URLString</key>
							<string>http://www.qidian.com/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
						</dict>
					</array>
					<key>Title</key>
					<string>热门</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeList</string>
				</dict>
			</array>
			<key>Title</key>
			<string>BookmarksBar</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeList</string>
		</dict>
	</array>
	<key>Title</key>
	<string></string>
	<key>WebBookmarkFileVersion</key>
	<integer>1</integer>
	<key>WebBookmarkType</key>
	<string>WebBookmarkTypeList</string>
</dict>
</plist>
